[2012-07-16 13:16] benpowell opened #1 "Random double min-max bug"
The code to generate a random double between min and max is incorrect:

[code]

Should be:

[code]

[2013-01-19 08:54] gprasant opened #4 "No gitignore included"
There wasnt a gitignore included. Need to add a gitignore for a C# VS project,

[2013-02-01 16:42] garethdown44 opened #6 "introduce convention based approach to allow default values for properties"

[2013-02-01 16:42] garethdown44 opened #7 "Add WhereItem(index) method"
Should be able to do this:

[code]

[2013-02-01 16:44] garethdown44 opened #8 "introduce conventions for applying values to specific property types"
look at fluent nhibernate's convention model:

http://www.jagregory.com/writings/fluent-nhibernate-auto-mapping-type-conventions/

[2013-02-01 16:46] garethdown44 opened #9 "property value assigning should ignore indexers"
What steps will reproduce the problem?
1. Create an object with an indexer:

[code]
2. Set up a static Create() method in a Mother object with some
   DisablePropertyNamingFor statements:

[code]

   p.Error);
           BuilderSetup.DisablePropertyNamingFor<Position, bool>(p =>
   p.HasErrors);

[code]

   Builder<Position>.CreateListOfSize(5).Build() };
       }
3. Run up the mother object.

Wha

[2013-02-01 16:49] garethdown44 opened #10 "add a TheRest method to allow operating on the remaining items"
original issue: http://code.google.com/p/nbuilder/issues/detail?id=41&colspec=ID%20Type%20Status%20Priority%20Milestone%20Owner%20Summary%20Date%20FixedInVersion#makechanges

[2013-02-01 16:52] garethdown44 opened #11 "remove any functionality allowing private members to be set"
don't want nbuilder to be able to do this.

[2013-04-02 17:42] MNF opened #14 "compare NBuilder vs AutoFixture?"
Can anyone compare NBuilder vs AutoFixture (https://github.com/AutoFixture/AutoFixture). What are advantages of using NBuilder? 
Stackoverflow question http://stackoverflow.com/questions/2835268/autofixture-vs-nbuilder has a single answer in favor to  AutoFixture. 

[2013-06-27 13:50] garethdown44 opened #15 "Add ability to set the whole object using the list builder"
e.g.

Thing t = new Thing() { Name = "Target" };

[code]

[2013-11-24 11:17] moonClimber opened #16 "Add overload to BuilderSetup.DisablePropertyNamingFor - useful for indexed properties"
Hi, I have a class with two indexer and I need to disable the autoNameProperty for these two guys.

[code]

Maybe is just because I actually don't know how to refer the indexed properties in the lambda expression needed by the current implementatio of DisablePropertyNamingFor, but in any case (even if it's possible to do), I think that it can be useful to have an overload like this:

[code]

In th

[2013-12-02 22:02] jbatte47 opened #17 "Building a new DateTime changes the value of DateTime.MinValue"
The following code produces interesting results:

[code]

After running the above example, `generatedDateTime` will be `1/1/0001 12:00:00 AM`, `minDateTime` will be (assuming it was run on Dec 2, 2013) `12/2/2013 12:00:00 AM`, and `maxDateTime` will be `12/31/9999 11:59:59 PM`. I'm fairly certain this is not intended.

[2013-12-05 17:03] vsurajevs opened #18 "CreateListOfSize with SequentialGenerator. Generated data in wrong order."
String lengths are both 50. Strings differ at index 4.

  Expected: "item01item23item4item5item6item7item8item9itemitem"

  But was:  "item67item89item0item1item2item3item4item5itemitem"

        [Test]
        public void Test()
        {
            var generator = new SequentialGenerator<int>();
            var build = Builder<TestClass>.CreateListOfSize(10).All().With(x => x.Property = "item")

[2014-02-17 08:49] szyb opened #19 "RandomGenerator: Decimal separator wrong for some cultures"
Hi,

I use culture pl-PL and there is an error when trying to generate decimal value:
"Input string was not in a correct format." The reason is that decimal separator for my culture is comma(,) and not dot (.).

BR,
Szymon

[2014-02-25 08:41] kuhlschrank opened #20 "Quirky behaviour when generating Lists with multiple calls to TheLast(1)"
Hi,
first of all I love using NBuilder! Thanks for your work!
But...

[EDIT: Please see post 2 for a more precise explanation of the problem.]

I recently found a behaviour that I can't explain. I have a class RepricingItem that has auto properties SellerId and SalePrice amongst others.
When I build lists like the following...

[code]

... I perceive a strange behaviour.
listA[2] and listB[2] do N

[2014-07-09 14:09] skipperTux opened #22 "NuGet package out of date"
Hi. NBuilder NuGet package is last published on 2011-11-14, but there has been recent activity (June 2014) even in the Nuspec file, NBuilder package creation, Teamcity Generation of NuGet package. Why is the NuGet update broken?
Thanks for the great tool.

[2014-07-13 21:41] pjmagee opened #24 "Get NBuilder building with AppVeyor CI"

[2014-08-29 04:43] alextsui05 opened #25 "Unexpected ordering of actions when using All and Random together"
I expect to build some strings that are sequences of a, then possibly with b, and then with c. What I actually get are sequences of a, then c, then possibly b. Below is a sample program to reproduce. Maybe this is beyond the scope of intended use and maybe I could figure out how to rewrite it in one line to work around this, but I was really surprised by it.

[code]

[2014-09-25 17:33] sjswoboda opened #26 "License?"
Couldn't find a license file in the source.

Is it MIT? MIT would be great! We usually have organizational trouble with LGPL but MIT works very well.

Thanks

[2015-01-17 21:18] ogborstad commented on #22
bump, will you update the package any time soon?

[2015-01-19 12:07] PehrGit opened #27 "Consider ValidationAttributes"
Would it be possible to check properties for ValidationAttributes?

I often get errors with database integration tests because of strings that are too long. These properties have a MaxLength attribute, and it would be great if nBuilder could take them into account.

[2015-03-19 23:12] ghuntley commented on #26
![](http://www.reactiongifs.com/r/jfp.gif)

[2015-03-19 23:15] ghuntley commented on #22
No Nuget.org push in 4 years?

![](http://www.reactiongifs.com/r/yuck.gif)

[2015-03-20 15:48] pjmagee commented on #22
get rekt mate

[2015-03-20 15:50] pjmagee commented on #26
lol rekt

[2015-03-20 16:10] AbubakerB commented on #22
that gif. 360 REKT MATE

[2015-03-21 21:04] ghuntley commented on #22
![](http://media.giphy.com/media/kdpDNdzCO3HnW/giphy.gif)

[2015-05-14 17:35] howitzer-industries opened #29 "GetRandom generator isn't thread-safe"
The GetRandom class uses a static RandomGenerator, which in turn uses a System.Random instance to generate random values. Since [System.Random isn't thread safe](https://msdn.microsoft.com/en-us/library/system.random%28v=vs.110%29.aspx#ThreadSafety), trying to call methods in GetRandom from different threads can [corrupt the Random instance and make it return all 0s](http://stackoverflow.com/quest

[2015-05-18 06:21] #29 closed

[2015-05-26 13:09] phatcher commented on #22
Another bump

[2015-05-27 21:03] RyannosaurusRex commented on #26
+1 Would be cool to officially put a license up on the readme.md.  If the proj owner(s) could let us know which one (my vote would be MIT, but it's up to them), I'm sure someone would be happy to do a PR.

[2015-05-30 17:29] pjmagee commented on #4
Can we close this issue please. The ignore file was included over a year ago now.

[2015-05-30 17:46] pjmagee commented on #27
Something added to `BuilderSetup` such as `ShouldEnforceValidationAttributes<T>()`.

[2015-05-30 17:47] pjmagee commented on #26
The original source repo on Google code had the GNU license. https://code.google.com/p/nbuilder/

[2015-06-04 21:56] #4 closed

[2015-06-19 17:56] kibiz0r commented on #22
Bump. I want the index parameter support.

[2015-07-01 15:19] timg83 opened #32 "NBuilder doesn't work with VB.NET"
NBuilder does not work as expected in VB.NET

Test code:

Imports FizzWare.NBuilder

Module Module1
    Sub Main()
        Dim x = Builder(Of Something).CreateListOfSize(5).All().With(Function(s) s.Int = 1).Build()
        Console.WriteLine(x.All(Function(s) s.Int = 1)) 'returns false
    End Sub
End Module

Public Class Something
    Public Property Int() As Integer
    Public Property Bool As Bo

[2015-07-01 20:43] garethdown44 commented on #32
x is a list. try looping over x and console.writeline each item

[2015-07-02 06:42] timg83 commented on #32
Don't think the linq query is going to output something else then Console.Writeline() but here is the output of the property Int:
1,2,3,4,5

Just try it. C# works as expected

[2015-07-03 19:10] garethdown44 commented on #32
Your example doesn't really make sense, can you explain what you're trying to do and I'll tell you how to do it?

[2015-07-04 11:33] timg83 commented on #32
I want a list of 5 elements of type Something with all elements having property Int 1

Above example is just a quick setup to see if nbuilder works as expected. In C# I get expected result (a list of 5 Something elemens with all instances having Int = 1) in VB.NET I get a list with 5 Something elements having Int 1 for element 1, 2 for element 2 etc...

So behaving not as expected. Try above code

[2015-07-28 19:28] sslotsky commented on #6
I have been working on something of a wrapper around ```NBuilder``` in order to accomplish exactly this purpose. Default values is something that I really like about tools like factory-girl, but the .NET versions have some shortcomings that this tool does not.

My approach thus far has been to define factory classes like this:

[code]

There are some other classes involved that will take care of r

[2015-07-30 15:36] sslotsky opened #33 "Can't cast IListBuilder<T> to IListBuilderImpl<T>"
Following your examples, I've created the following extension method
[code]

The first line of this method raises an exception

I got your package via nuget, version 3.0.1.1. It does not appear to match the repository though, and I noticed an issue saying that the nuget package is out of date. Will an upgrade fix this problem?

[2015-07-30 15:36] sslotsky commented on #22
Major bump.

[2015-08-27 07:13] nick-wallace commented on #32
In VB.Net, use .Do instead of .With and use an anonymous Sub.

[2015-09-02 18:40] cbigsby opened #34 "Building a Guid changes Guid.Empty to be 1"
I previously reported this in the old Google Code bug tracker, but afterwards nbuilder was moved to Github. Re-posting here.

How to reproduce:
1.Use NBuilder to create a new Guid, eg: `Builder<Guid>.CreateNew().Build();`
2.Compare Guid.Empty to new Guid() or default(Guid).

What is the expected output?
Guid.Empty should equal new Guid() or default(Guid)

What do you see instead?
Guid.Empty has be

[2015-09-02 21:52] pjmagee commented on #34
NBuilder does not filter any fields or properties where they are declared as `IsInitOnly`.

NBuilder uses reflection on the `Type` you pass to NBuilder.

Since [Guid.Empty is a static field.](http://referencesource.microsoft.com/#mscorlib/system/guid.cs,26) NBuilder will modify it with the first sequence number to use. By default it will use the `SequentialPropertyNamer`.

Other properties on othe

[2015-09-02 22:57] pjmagee commented on #17
Checkout my response on 34#issuecomment-137255280

[2015-09-02 23:01] pjmagee commented on #26
@garethdown44  Should we add a LICENSE file to the repository. We can update the READ ME with a link to the LICENSE file with a URL.

Also, what License?

[2015-09-02 23:32] pjmagee commented on #24
Not needed since I didn't realise we're using TeamCity. :+1:

[2015-09-02 23:32] #24 closed

[2015-09-02 23:35] pjmagee commented on #14
I think it's preference. But Maybe this should be moved to a Wiki Page on NBuilder to explain why someone might want to use NBuilder over AutoFixture.

@garethdown44  I think this should be closed or labels should be added to the project so that they can be labelled accordingly.

[2015-09-28 14:46] jasoncavaliere opened #36 "parallelism and NBuilder"
Hi guys,

Not sure if anyone is actively contributing to this any more, looks like very minimal lately.

We had an issue when converting our Nunit tests to XUnit for parallel capabilities, and had make some mods to the source in order to get everything working, making the Builder<T> and the BuilderSetup instance based rather than static.

Would you be interested in a pull request, or should we for

[2015-10-14 05:37] CL0SeY commented on #36
We've been experiencing similar problems. Would be great to have the fork available on GH to reference at least. Then it can be turned into a pull request potentially?

[2015-10-14 13:55] pjmagee commented on #36
AutoFixture seems to be the way to go now.

[2015-10-28 22:21] jasoncavaliere commented on #36
I added the pull request.

https://github.com/garethdown44/nbuilder/pull/37

Works for us, the only difference is having to pass around a BuilderSetup() which we new up at the beginning of our tests

[2016-01-07 23:46] PureKrome opened #38 "Has NBuilder stopped being maintained?"
@garethdown44 Heya - are you there? Has this project stopped being maintained?

if yes - could you open it up to someone else (no, i'm not suggesting me) to be a co-admin so they can take ownership of the outstanding issues, etc.

if no - will you be able to start to adress various issues in the current issue list. (My biggest concern is the #36 ).

[2016-01-11 08:13] garethdown44 commented on #38
Hi - yeah I don't really have time to look after it anymore and I'd be very happy to open up to a co-admin.

However I will look at #37 today

[2016-02-08 18:25] crmckenzie commented on #38
I would be happy to co-admin.

[2016-02-09 03:23] PureKrome commented on #38
:wave: @crmckenzie - that would be lovely if you could step up, etc.

.. and then review/etc #36 & #37. :cake:

[2016-02-09 19:06] crmckenzie commented on #38
@garethdown44 would you like to chat about co-management?

[2016-02-11 08:10] garethdown44 commented on #38
@crmckenzie - good to hear from you again! I've given you push rights. We can chat more by email but feel free to get started and let me know if there's anything you need from me. Closing this issue.

[2016-02-11 08:10] #38 closed

[2016-02-17 17:14] crmckenzie commented on #38
Hi @garethdown44, when you get a chance could you confirm that you've received my email? Do I still have the correct address?

[2016-02-18 15:30] pjmagee commented on #38
@crmckenzie Looking forward to the co-management. It seems like there are some improvements we can make going forward and get some milestones and labels setup for the current issues people have reported but have not been closed or looked into.

[2016-02-18 22:09] PureKrome commented on #38
FWIW : I'll be keep an eye on this repo and trying to help out via chatting in issues with suggestions and testing.

We use this product pretty extensively and recently I've started using AutoFac (because of the static/parallel test issues i've been having) but have just felt that the syntax isn't as nice as this and would really love to see some of the issues being worked on (yes, this is OSS whi

[2016-02-18 22:30] crmckenzie commented on #38
I've been ill, but I plan on getting things moving really soon. :)

[2016-02-23 02:12] PureKrome opened #40 "Move CI over to AppVeyor"
First mentioned in this conversation: https://github.com/garethdown44/nbuilder/pull/35

I'm happy to take the reigns on this. I've done a number of OSS projects using AV to publish to myget (for dev) then nuget (for live).

If the collabs are happy with this, I can talk about my suggetsions (high level / how I automate the version numbers / why 2 feeds, etc).

else close this issue :+1:

[2016-02-23 02:24] crmckenzie commented on #40
I'd like to see this happen as the OSS teamcity server is really slow and apparently no longer has all of the dependencies we need.

I have an appveyor build setup for my [Odin](https://github.com/crmckenzie/Odin/blob/release/0.2/appveyor.yml) project which publishes a beta version to nuget.org if the commit is on a release branch and a release version when the commit is on master. I think a safer

[2016-02-23 02:38] PureKrome commented on #40
totally :)

sweet! lets chat then...

Ok - this is very similar to what I do ... with a minor change. I don't publish my `pre-releases` to nuget.org because i don't like polluting that feed with lots of branches before a release. Sure, if there's only one or two PR's a year. np. But I just don't like that habit.

I'll explain what I do and why.

### `master`

`master` branch is ONLY for releases t

[2016-02-23 02:48] crmckenzie commented on #40
I wouldn't want to drop the older framework support without @garethdown44 's explicit consent. The last time he & I worked together on NBuilder he was pretty solid on keeping support for the other frameworks.

I imagine before too long we'll want to support the "Core" framework in addition to 4.0+. That's something to consider. I haven't seen this done with AppVeyor yet.

Question: Why use myget f

[2016-02-23 02:55] PureKrome commented on #40
NP.

I'm biting at the chomp for vnext. So i'll be all over updating OSS stuff to re-sync with .NET Core.

- I've never seen any obvious info about how to access the packages on there.
- Is there a GUI for easy discoverability? (myget has this)
- Not phased either way. Just would like some website landing page to be able to see the feed content without having to use Nuget package manager to see th

[2016-02-23 03:01] crmckenzie commented on #40
It just creates an endpoint which you can use with the nuget exe. There's no integrated UI other than what you get in Visual Studio that I can see.

What do you need from me to get started on this?

[2016-02-23 03:23] PureKrome commented on #40
so ... want to use myget then? your call. (remember, needs to be easy for developers to find/discover the `-pre` packages...

[2016-02-23 03:32] crmckenzie commented on #40
I can't say I feel strongly about it either way. Honestly, Semantic Versioning is much more important to me. Using MyGet is fine with me.

[2016-02-23 20:55] crmckenzie commented on #22
I've recently begun co-managing the project. I am working on getting an automated build in place that we can rely on. As soon as that's done, a new nuget package will be forthcoming.

[2016-02-24 08:25] phatcher commented on #22
Chris, if you want a hand, let me know

[2016-02-29 17:00] crmckenzie commented on #40
Where do we stand on this? Anything I can do to help?

[2016-03-02 03:47] PureKrome commented on #40
Yo! Hi!

i'll try and give this a crack in the next few days -> i'll PR up an AV file or something... watch this space :)

[2016-03-03 11:30] pjmagee opened #41 "Setup labels for issues"
@crmckenzie We have 23 issues and being able to filter issues on labels will help us begin to prioritise and organise Nbuilder.

I propose the following Labels:

Bug: Bug in NBuilder logic
Core: NBuilder core logic improvement / refactoring
Feature: A new feature requested from an issue
Needs more info: Someone has submitted an issue but we need more information to investigate
api needs work: The

[2016-03-03 14:30] PureKrome commented on #41
and `discussion` or `question` - the issue is a convo ... that is been chatted about but not yet closed.

[2016-03-04 15:17] crmckenzie commented on #41
I agree completely--though I think I would prefer to use gitter.im for conversations. @pjmagee do you want to take on the initial categorization?

[2016-03-04 16:47] pjmagee commented on #41
Sure.

[2016-03-11 05:27] worldspawn opened #42 "WithConstructor seems to resolve constructor parameters and only once"
Consider this usage:

[code]

Passes the same email to the constructor for every time it creates the object. It should not do that.

Your code

[code]

Resolves once and uses the same args over and over. Seems quite inappropriate for what this library does and the efforts you've made elsewhere to introduce randomness. You discard the constructor expression but why not use it to instantiate the obj

[2016-03-11 15:40] pjmagee commented on #41
@crmckenzie , I cannot add Labels/Milestones to the project due to permissions.

[2016-03-11 20:55] crmckenzie commented on #42
This is an interesting idea, but I imagine the reason the WithConstructor logic was put into place was to handle situations in which the constructor depended on some external service:

[code]

NBuilder wouldn't be able to introduce randomness into these kinds of constructors.
Thoughts?

[2016-03-11 20:58] crmckenzie commented on #41
Turns out I can't either. @garethdown44 can you grant rights to create and apply labels to issues?

[2016-03-11 21:05] worldspawn commented on #42
I'm not sure that makes any difference. If it was the intention of the user to share the registrar service between instances then they can instantiate it outside of the expression and use a and refer to the instance in the expression.

Randomness, at least in my example is introduced by me rather than nbuilder. Perhaps I am not understanding your point

[2016-03-11 21:11] crmckenzie commented on #42
I think it was me who wasn't understanding your point. You're just saying you want the constructor expression to be recompiled and executed for each item in the list. That makes sense to me, though my gut says it should be optional.

[2016-03-11 21:36] worldspawn commented on #42
I don't think it even needs to be recompiled. Compiled once to Func<T> and called for each, it should do what I want it to.

Other perhaps being a breaking change in behavior I don't see why it should be optional. The caller will have the control over whether a value is reused of not.

New service per instance
[code]
Shared instance
[code]

But it's your library :)

[2016-03-11 21:45] crmckenzie commented on #42
The breaking change is what I'm worried about. I see your point about just re-using the func. This is a good idea. Thanks!

[2016-03-13 21:18] crmckenzie opened #43 "Move "Website" pages into github wiki"

[2016-03-13 21:37] #43 closed

[2016-03-24 15:37] hiredgunhouse commented on #34
I'd say that this is rather bad, annoying and non-intuitive behavior from NBuilder and thus should be fixed there instead of one having to learn about this only when they get bitten by the problem (I just did!).

[2016-03-24 16:24] pjmagee commented on #34
I agree but hopefully my example can be used to fix this problem for you.

[2016-03-30 11:25] PureKrome commented on #40
Hi team.

whoa. EPIC :/

So i've probably invested about 10 hours into this issue. (yes, i said 10). I've levelled up from a AppVeyor-Veteran to AppVeyor-Ninja-God-Asshat.

Basically, the fact that there's _multiple_ frameworks was the problem.

But i've done it.

But first!! there's some admin stuff I need to sort out. I'll explain what been set up and what the repo owners need to do to take owne

[2016-03-30 11:27] PureKrome commented on #40
oh - another thing i forgot to mention.

with this being on AV, i've dropped all this nant  and travis :shit:. No need to the 80's to :phone: us up. Powershell is your father.

[2016-03-30 20:51] crmckenzie commented on #40
@PureKrome, let me say "Thank You" for the work you've done on this. I won't be able to look deeply at this for a few days, but it's my highest priority on this project. Talk to you soon!

[2016-03-30 21:59] PureKrome commented on #40
@crmckenzie great! also - how would you like the secret info handed over?

[2016-04-01 01:38] PureKrome commented on #26
Need to add a license to the repo and readme IMO.

[2016-04-02 19:11] crmckenzie commented on #40
I've been working on this too, though I think you have gotten much farther than I have.

I have an AppVeyor account already. I'll be reaching out to AppVeyor to see if we can create an nbuilder organization account so that it's not directly associated with my username. I'd like to do the same thing with MyGet. If I do it correctly, it should not be necessary for you to transfer your accounts to us

[2016-04-19 14:57] crmckenzie commented on #40
Hey @PureKrome, where do we stand on the PR? I'm looking forward to marking this issue closed.

[2016-04-20 00:46] PureKrome commented on #40
I need an email address or a twitter handle i can DM some of the private info to (eg. u/p for the services). then i can start to post stuff up/pr.

[2016-04-20 01:03] crmckenzie commented on #40
Did you see my earlier comments? I don't think that will be necessary, but if you're convinced it is you can email me using my github handle (at)gmail.com.

Thanks!

[2016-04-20 01:17] PureKrome commented on #40
yep - i read them but i was hoping to get the info to you _in the mean time_ and then you can migrate etc in your time.

baby steps, etc.

on it now!

[2016-04-20 01:19] crmckenzie commented on #40
sweet!

[2016-04-20 01:27] PureKrome commented on #40
For those reading this thread - email sent to @crmckenzie :+1:

[2016-04-23 13:46] PureKrome commented on #40
@crmckenzie ready to PR now.

Can you please make a `dev` branch in this repo, please. so i can PR to that... starting my flow and it tests my AV yml file(s).

[2016-04-24 23:33] crmckenzie commented on #40
done. I look forward to your PR.

[2016-04-25 00:52] PureKrome commented on #40
@crmckenzie Take note with this PR:

- Your commit 82011b3afe7d68fa15416c4b2c2d5d49c932873b which added a CI AV badge for _your_ AV has been removed / undone.
- New badges have been made.
- The icons for some of the badges will not work/display UNTIL the AV project has actually completed. (eg. AV-master project has no build yet made, so it will display a broken badge until we PR + merge to master)

[2016-05-01 18:37] crmckenzie commented on #36
NBuilder is being maintained. I'm working on a catch-up release now. I'm still getting my sea-legs under me as co-manager of the project, so it will likely take a little while.

[2016-05-01 18:37] #36 closed

[2016-05-01 18:40] crmckenzie commented on #34
I think we may be able to enhance NBuilder to be less intrusive in the type system. It would be a breaking change that would require a breaking change. I'm going to tentatively add it to the catch-up-release milestone.

[2016-05-01 18:50] crmckenzie commented on #9
Is this a bug or a feature request? I'm not certain from the description.

[2016-05-01 18:52] crmckenzie commented on #41
I've got permissions sorted out. I've added labels and milestones for most issues.

[2016-05-01 18:52] #41 closed

[2016-05-01 23:05] PureKrome commented on #34
If this is a breaking change (totally no probs with that) i would suggest we stick to SemVer and bump the major number.

[2016-05-01 23:07] PureKrome opened #45 "Add some more Issue labels."
Maybe add a few more labels:

- up for grabs
- documentation
- needs more info (eg the person who created the issue needs to provide more info about the problem).  eg. issue #23

this issue also extends issue #41 :blush:

[2016-05-12 04:57] PureKrome opened #46 "Document GetRandom :: why and how."
`GetRandom` is hella useful for creating fake data on the fly when using `Builder<T>`.

eg.

[code]

Needs documentation added to dat wikiz.

[2016-05-22 16:39] crmckenzie opened #47 "Replace ActiveRecord in Tests w/ EntityFramework"
Castle.ActiveRecord is no longer maintained (since 2012). It is out of sync with Iesi.Collections which makes it impossible to upgrade any packages. This is test & demo code only, so I'm going to update the persistence tests to use EntityFramework instead. I will also use an in-memory database so that no external setup is required to run the tests. This should make it easier for potential contribu

[2016-05-30 15:53] #47 closed

[2016-05-30 15:55] crmckenzie opened #48 "Upgrade to SL5"
I'm trying to get everything "current" as of the last 2 years. The SL tests are not yet passing. I may bring in @cmbrown1598 to help as he has recent problem-solving skills in this space.

[2016-05-30 22:36] PureKrome commented on #47
Good stuff @crmckenzie :)

[2016-05-30 22:37] PureKrome commented on #48
A question about this : do we actually _care_ about Silverlight? Honest Q - not trolling.

It's dead. So why bother? There are versions of NBuilder already on nuget.org that are supporting it .. so why spend the effort on something that might have little-to-none ROI ?

My vote: nuke SL support.

[2016-05-30 22:44] PureKrome commented on #26
I also vote for the lic to be changed to MIT plz.

GNU vs MIT : http://stackoverflow.com/a/11752204/30674

[2016-05-31 08:43] garethdown44 commented on #26
Is there a compelling reason to switch to MIT? I like the fact that GPL means any modifications have to remain open source.

[2016-05-31 09:43] PureKrome commented on #26
This is just my 2c:

Will people _really_ give a care and think "i better release my code modifications or else i'll get in trouble" ? I think they will generally just change some code (if they even mod the code base) and just move on with their life. Yes, we'd love modifications to be PR'd up or OSS'd but ... meh.

In essence, GPL is nice and hippy. In effect, I don't think it will really sway pe

[2016-05-31 15:17] crmckenzie commented on #48
The last time I talked with @garethdown44  about this (2 years ago?) he was pretty sure he wanted to maintain Silverlight support. However, since Silverlight does seem to be going the way of the quaga _and_ since it is becoming an impediment to modernizing the project, I would be happy to see it go. The best argument I have for it for the time being is that learning how to make this work in the bu

[2016-05-31 15:27] pjmagee commented on #48
Nuke SL and move towards supporting .NET Core

[2016-05-31 23:18] PureKrome commented on #48
Also +1 to nuking SL and sticking with modern and dealing with .NET Core after 1.0 RTM's and the initial shit storm dies down or shit gets fixed in .net core post 1.0.

Summary IMO: rebase to 4.x and start dealing with .net core in a few months.

[2016-06-17 09:44] garethdown44 commented on #48
Thing is, there's at least one banking project I know using it. I was at someone's desk a few weeks ago and noticed it was used in their code base. Lots of projects in the banking space still use SL as there was a big push across the industry a few years ago.

How about keeping the support, only in the sense that you don't actually rip it out, but don't bother with CI. If there turns out to be a p

[2016-06-17 10:00] garethdown44 commented on #26
This is the scenario I want to be able to stop:

"CompanyX takes NBuilder, changes the code around a little bit, makes a few small improvements and incorporates it into their commercial testing product. They advertise a feature of test object generation, without any mention of where it came from. They don't give any credit to where they got the code from and don't give back any changes they make t

[2016-06-17 11:55] PureKrome commented on #48
Yeah - that could work.

or ... just remove it from the latest master branch and if the support requires a patch fix, then you can branch of a commit or tag.

Removing it doesn't remove it from nuget.org where existing players can still download it.

[2016-06-17 13:19] sjswoboda commented on #26
As part of MIT,

They cannot remove the existing copyright notices.

[2016-06-25 17:45] crmckenzie commented on #48
It could work, but it makes things complicated. I don't like the idea of dropping tests (it makes me feel dirty), but given that some of the test dependencies don't exist on Nuget, I don't see any alternative that lets us modernize the repo in preparation for .NET Core.

One argument is that if these banking customers have been using NBuilder with no updates or reported issues for 2 years then the

[2016-06-27 10:48] PureKrome commented on #48
Having two repo's sounds interesting - that's an obvious *line-drawn-in-the-sand* announcements. Downside could be that some people might get confused -- why two repos? huh? wa?

Either has pro/cons - so just make a call and move on.

[2016-06-27 10:48] PureKrome commented on #36
Polite bump - any news on this?

[2016-06-27 20:36] crmckenzie commented on #36
It looks like the pull request has been integrated. There are still a couple of bug fixes I want to finish before the next release, as well as reaching a final decision on what to do with the Silverlight build. You can track what's happening (or submit PR's) with the "Catch-up Release" milestone.

[2016-06-27 22:46] PureKrome commented on #19
My suggestion here is to close this issues as 'not-our-fault' and get Poland (and many other countries in the EU, South America, etc) to fix up their language and use dots (.) not comma's (,) for their decimal separator. It is called a _decimal_ separator, after all.

...

..

.

Joke!! just joking!!! :sunglasses:

[2016-07-01 17:32] pjmagee commented on #48
I guess a branch also wouldn't fit?

[2016-07-04 18:59] crmckenzie commented on #19
I'm going to need repro steps on this one. I'm not sure which function is supposed to be a problem. I tried setting the `CurrentCulture` to Poland in some existing tests involving decimals to smoke it out, but everything looks good.

[2016-07-04 19:06] crmckenzie commented on #19
I explained the problem to a rubber duck and found the issue.

[2016-07-04 19:06] #19 closed

[2016-07-04 19:54] crmckenzie commented on #1
Fixed in previous PR.

[2016-07-04 19:54] #1 closed

[2016-07-04 22:53] PureKrome commented on #19
:clap:

[2016-07-05 00:15] #40 closed

[2016-07-05 01:07] #18 closed

[2016-07-05 01:07] PureKrome commented on #40
@crmckenzie Yo :) i've just checked the `dev` branch and noticed that the readme.md is saying that AV is failing. clicking the 'av badge' in the readme, it bounces over to AV and lists an error.

The error looks like that, that CI project is not picking up the AV project and is auto-trying to locate the sln's to build.

Do you need some help with this?

Try checking the settings for your AV projec

[2016-07-05 01:09] crmckenzie commented on #22
This will be resolved soon. What's left:
1) SL5 & License discussion points
2) attempt to fix technical issue with Guid incrementor.

I'm closing the issue because releasing the package will resolve it and I want the Milestone cleared.

CC: @garethdown44

[2016-07-05 01:09] #22 closed

[2016-07-05 01:14] PureKrome opened #49 "new Builder<T> should include a default ctor."
So I was peeking at some new code pushed up to `dev` branch (sneaky me!) and noticed this.

[code]

Sweet. Just like your **breaking changes** doc says -> Builder is no longer static.

But .. everytime i create a builder i have to _manually_ also create a new `builderSetup`????

what about this..

[code]

[2016-07-05 01:17] crmckenzie commented on #34
Let me ask a different question: Should NBuilder be setting static properties to begin with? I was surprised to read that it does.

[2016-07-05 01:24] PureKrome commented on #34
IMO, statics should be removed completely.

[2016-07-05 01:24] crmckenzie commented on #49
[see here](https://github.com/nbuilder/nbuilder/blob/develop/Source/FizzWare.NBuilder/Builder.cs) :smile:

[2016-07-05 01:27] crmckenzie commented on #40
Thanks for noticing, but I'll tend to it when it gets closer to release time (which is close!). I think the readme may just be pointing to the wrong build or something.

[Appveyor says it's currently building](https://ci.appveyor.com/project/NBuilder/nbuilder-1m5q4/build/4.0.0.84)

[2016-07-05 01:28] crmckenzie commented on #34
I'm inclined to agree, but as I'm new to managing this project I'm not sure if there's some grand vision I'm simply unaware of.

[2016-07-05 01:30] crmckenzie commented on #45
Done.

[2016-07-05 01:30] #45 closed

[2016-07-05 01:36] PureKrome commented on #49
i'm not sure if having a single ctor with the optional is still considered a default ctor .. so things like JSON.net will fail when it tries to use a default ctor.

(yes, i know there's no reason to serialize an `Builder` instance, etc.. just thinking out aloud for possible problems...

[2016-07-05 01:38] pjmagee commented on #34
How about statics if added to a builder property namer. So basically requires a white list. Also when generating a list of types...doesn't quite make sense to change statics.

Or maybe a `new Builder<Type>.(Strategy.IncludeStatics)`

Sorry for any typos. I'm on a mobile.

I just don't think entirely ruling out statics is a good idea. You should still be able to build test objects regardless if the

[2016-07-05 01:40] pjmagee commented on #22
Just to note its not just guids. ^^

[2016-07-05 01:41] crmckenzie commented on #49
Point taken. Code updated.

[2016-07-05 01:41] #49 closed

[2016-07-05 01:43] PureKrome commented on #34
@pjmagee There's a new class (i think it's a new class) called `BuilderSetup` or something. IMO, this class should have any optional stuff, defined here.

so the new way of using NBuilder is (i'm guessing/thinking back to some breaking-changes doc i read) is like this:

`var builder = new Builder()....`
or
`var builder = new Builder(new BuilderSetup())....`
or
[code]

so can the `BuilderSetup` cla

[2016-07-05 01:47] PureKrome commented on #49
wow! PR's coming, so fast!! :clap: :clap:

![](http://i.giphy.com/Ctzm5rEEhqjNm.gif)

[2016-07-05 01:47] crmckenzie commented on #34
Yes, I see it's basically all static members. I think that by default NBuilder should confine itself to instance members. That would resolve the `Guid.Empty` issue as well as `DateTime.MinValue` & `DateTime.MaxValue`.

Re: BuilderSetup, I agree that the place for strategies is in BuilderSetup. If @garethdown44 agrees I would like to:

1. Release NBuilder 4.x with static member editing removed
2. R

[2016-07-05 18:39] crmckenzie commented on #48
Make that 5 years since NBuilder was released. @garethdown44, I really think it's time to let go of Silverlight. If you disagree can you "state what the criteria should be for dropping support for SL" so that we'll know when the time is right?

[2016-07-05 18:40] crmckenzie commented on #26
It sounds like MIT satisfies @garethdown44 's concerns. I'm going to plan on adding the MIT license.

[2016-07-05 20:17] pjmagee commented on #34
I like the steps @crmckenzie  has listed above.

1) Remove the odd behaviour where static properties are being modified, especially on important types such as DateTime and Guid, which can cause bad side affects on properties commontly known to only be one value at runtime.

2) Implement a way to pass in or configure "strategies" as to what NBuilder will target when generating data, allowing users

[2016-07-05 20:22] pjmagee commented on #27
Would it be possible to some how make this pluggable, rather than somehow shoe horned into the core of NBuilder?

It would be nice if it was somehow fully decoupled. Meaning that anyone using any of their own Attributes, could modify the way NBuilder generates data.

Something like a `DataGeneratorAnalyzer` which could be passed into a BuilderSetup. This Analyzer can then influence what data would

[2016-07-05 20:26] pjmagee commented on #34
This relates to  #17.

[2016-07-05 20:38] pjmagee commented on #48
We should tag a commit that says "SL is nuked after this point". Make a seperate SL branch in this github repository. Then in the read me, clearly state that silverlight is not supported but fixes or patches can be made to an old "[LINK TO BRANCH]" of NBuilder, that will not go published on NuGet under NBuilder, but maybe under NBuilder.Legacy NuGet (If we wanted to continue to support publishing

[2016-07-05 22:55] PureKrome commented on #27
Love this idea.

No idea how to do it though :/ But yes! options & separate packages FTW.

[2016-07-14 17:44] austinoriginal commented on #11
I second this one.  Can change the behavior with implementing your own property namer but that seems a long way around.  I don't think it should be setting privates.

[2016-08-12 11:19] anton-gogolev opened #50 "RandomGenerator.Next(decimal, decimal) is broken for certain cultures"
Currently, `RandomGenerator.Next(decimal, decimal)` does the following:

[code]

This fails for cultures where value of `NumberFormatInfo.NumberDecimalSeparator` is anything other than `.`.

One option would be replacing the `.` with the value of `NumberFormatInfo.NumberDecimalSeparator`, but that would still incur an awkward "integer to string to decimal" roundtrip.

Here's what I think is a bett

[2016-08-12 15:49] crmckenzie commented on #50
This is a duplicate of [this issue](https://github.com/nbuilder/nbuilder/issues/19). The fix is on the develop branch waiting on me to get a free afternoon to finalize the release and push it out. Anton, if you would like to verify that we've fixed the issue correctly, please take a look at the commits. I'll leave this issue open pending your feedback or until I release--whichever comes first.

[2016-08-12 15:51] crmckenzie opened #51 "If Builder is going to be instance-based, it should be Builder instead of Builder<T>"
Further, this instance-based change is going to break a lot of code. I'm planning on restoring Builder<T> as static and marking it obsolete to be deleted in the 5.0 release along with .net core support.

[2016-08-12 15:51] crmckenzie opened #52 "Remove Obsolete Code"
Certain code has been obsolete for 4 years. Let's kill it already.

[2016-08-12 22:58] PureKrome commented on #51
Question: Will it be `Builder<T>` in v 5?

[2016-08-12 23:05] crmckenzie commented on #51
I don't think so. Instead, the methods on Builder should be generic. I don't want to have to create a separate builder for every type I want to build. In my mind, a builder maps to a BuilderConfiguration, but I should be able to build multiple types from the same configuration.

[code]

[2016-08-15 06:24] anton-gogolev commented on #50
If you're referring to 65306b3ed5691074f314dba12ef985c204044ab0, than yes, this indeed fixes the issue.  Thanks!

[2016-10-30 14:38] rolfwessels commented on #48
Hi, Is there any movement on this? I'm a bit fan of the nbuilder and I'm keen to add it back into .net core projects.

[2016-11-28 05:02] #51 closed

[2016-11-28 05:51] #52 closed

[2016-11-28 05:51] #50 closed

[2016-11-28 05:56] #48 closed

[2016-11-28 05:59] #26 closed

[2016-11-28 06:10] #34 closed

[2016-11-28 06:21] crmckenzie opened #55 "Port NBuilder to Dot Net Core"

[2016-11-28 06:22] crmckenzie commented on #48
Hi @rolfwessels ,
My plan is to issue a catch-up release of the cumulative changes and bug fixes that have amassed over the last several years and turn my attention to the DotNetCore version. I have a PR with a DotNetCore implementation, but it will take some work to integrate as a) it was based off of the master branch instead of develop, and b) it creates copies of the source files instead of li

[2016-11-28 07:07] rolfwessels commented on #48
Thanks, looking forward to it. Happy to help if you need anything.

[2016-11-29 04:50] crmckenzie opened #56 "Add Release Notes and Contributor's Guide."
I'd be interested in feedback about these items once they're committed.

[2016-11-29 04:56] #56 closed

[2016-11-29 05:57] KWodarczyk opened #57 "NextString output not withing min and max"
This test will fail at some point the values generated are not withing the min and max, just added a loop to the already existing text

`
[Test(Description = "Tests the NextString returns a string that is between the minimum and maximum values specified")]
        public void
            ShouldBeBetweenMinAndMaxNextString()
        {

            // Arrange
            int minValue = 100;

[2016-11-29 12:41] crmckenzie commented on #57
The easiest fix here is to remove the `Trim()` statement at the end of the method. However, I'll bet that breaks some assumptions others have what constitutes a valid string. The other thing I have to be concerned about is narrow ranges (e.g., `NextString(15,20)`). This will likely require a complete rewrite of the  method. Should be fun.

[2016-11-29 13:46] crmckenzie commented on #57
Okay, this is the new test body and it passes:

[code]

[2016-11-29 13:46] #57 closed

[2016-11-29 14:07] KWodarczyk commented on #57
wow my for loop is now part of he source code ? I feel honored :P

[2016-11-29 20:34] crmckenzie commented on #57
The fastest way to get your issue worked on is to provide a nice, easy test case. Thanks for your effort! 👍

[2016-12-04 21:14] crmckenzie commented on #55
https://docs.microsoft.com/en-us/dotnet/articles/core/porting/

[2016-12-09 23:27] crmckenzie opened #58 "Convert Rhino.Mocks to NSubstitute"
Rhino.Mocks appears to be unsupported and has not been ported to .NET Core. NSubstitute has. Convert the unit tests to use NSubstitute instead.

[2016-12-10 02:02] PureKrome commented on #58
or .. xunit? xunit is the default testing framework for vnext stuff, it seems.

Source: [ASP.NET repo engineering guidelines](https://github.com/aspnet/Home/wiki/Engineering-guidelines#unit-tests).

[2016-12-12 07:48] ckolumbus commented on #55
I made a first attempt in porting, available in my [cloned repo](https://github.com/ckolumbus/nbuilder/tree/dncore). Library builds and a little test program works as well but I have not yet ported the tests. I was fighting with supporting the full .net framework parallel to .net core with one source dir and only an additional xproj file.
According to my found resources it seem not to be possible

[2016-12-12 21:31] crmckenzie commented on #55
I've done the same. What I've figured out is that I first need to upgrade to .NET 4.6, migrate to use .NET Core compatible libraries, and save the actual code conversion for the end.

I've done the 4.6 upgrade on a branch, though I've apparently not pushed that branch up yet.

The next step will be to convert the RhinoMocks usage in the tests to NSubstitute which has a .NET Core implementation. Th

[2016-12-12 22:40] PureKrome commented on #55
Nsubstitute over Moq?

![image](https://cloud.githubusercontent.com/assets/899878/21119716/f03fb7b6-c117-11e6-9026-df773c3bf5e3.png)

Also, Moq and xUnit are the two frameworks used in vNext stuff.

So keeping with familiarity, maybe use those two instead?

[2016-12-12 22:57] crmckenzie commented on #55
@PureKrome I have a strong preference for NSubstitute over Moq, and since I do most of the work on this project these days I'd prefer to use it. NUnit has a .NET Core implementation, so I don't see converting to xUnit as adding value.

I'm staying focused on "done." :)

Feel free to argue with me.

[2016-12-12 23:10] PureKrome commented on #55
not going to argue at all :) reasons are perfectly justified 👍

[2016-12-13 04:32] #58 closed

[2016-12-13 04:33] crmckenzie commented on #55
RhinoMocks is no more. Next will be the 2nd attempt at the .NET Core conversion.

[2016-12-18 16:13] ckolumbus commented on #55
Regarding NUnit: dotnet-test-nunit only exists as v.3.4.0-beta3 and is not compatible with latest netcoreapp version. I'm not able to get the tests running with my update NBuilder code for .net core.

Options:

1. wait for dotnet-test-nunit to upgrade and support latest .Netstandard (but there's a stall since 2 month)
2. make NBuilder .netstandard1.0
3. switich to xUnit (which is against your wish

[2016-12-19 13:58] ckolumbus commented on #55
I do have UTs running (not the functional ones yet) : checkout [my dncore branch](https://github.com/ckolumbus/nbuilder/tree/dncore)

go to Fizzware.NBuilder
* dotnet restore && dotnet build

go to Fizzware.NBuilder.Tests
* dotnet restore && dotnet build && dotnet test

its based on netstandard1.0 & netcoreapp1.0 that is also supported by dotnet-test-nunit.

[2016-12-22 09:31] ckolumbus commented on #55
Some more information on netstandard vs netcoreapp wrt NUnit can be found in [this issue](https://github.com/nunit/dotnet-test-nunit/issues/42)

[2017-01-11 16:40] CODave4 opened #60 "Generating short phrase occassionally results in empty string"
When calling RandomGenerator.Phrase with a max length of 10 it will sometimes return an empty phrase when any of the latin words longer than the short max length resulting in an empty string.  Expected is always return a non-empty phrase less than or equal to the max length.

[2017-01-11 19:54] crmckenzie commented on #60
Sweet! Bonus points if you can provide a unit test. :)

[2017-03-28 01:19] lorddev opened #62 "ShouldBeAbleToUseMultipleTheFirsts() unit test fails"
I discovered this while testing my changes re #55, and then checked out a bunch of other commits in history, and found that it was already failing, even in the master branch. I stepped through the code for like an hour and couldn't figure out the cause.

![screenclip](https://cloud.githubusercontent.com/assets/2220085/24384605/e1dd867c-1319-11e7-81b9-81d52fc7bd97.png)

[2017-04-07 07:13] lorddev commented on #55
@crmckenzie bump

[2017-04-17 17:16] crmckenzie commented on #55
I've got another PR (61) doing similar work. When MS introduced .NET Standard and reverted to .csproj files I became concerned that we'd need to do another revision of this work to keep things current. To my knowledge, there's no current version of .NET Standard that works with both 4.6/7 and dotnetcore, but that is coming. My feeling is that we should concentrate on building a .NET Standard versi

[2017-04-17 22:36] PureKrome commented on #55
I thought `.NET Standard 1.3` is for .NET 4.6+ _and_ .NET Core?

ref: [.NET Standard Platform Support Matrix](https://docs.microsoft.com/en-us/dotnet/articles/standard/library)

That said, I would assume it should be easier now to support more platforms under a single solution if you upgrade the project to using .NET Core vs multi-sln+.Net Old.

[2017-04-17 23:18] lorddev commented on #55
.NET Standard 1.6 is compatible with 4.7. .NET Standard 1.1 is compatible with 4.5.2. .NET Standard 2.0 will be backwards compatible with basically everything.

[2017-04-18 16:22] crmckenzie commented on #55
Okay--let's do .NET Standard 1.3 then.

[2017-06-06 04:08] PureKrome commented on #55
very very, warm and polite _bump_ on this?

[2017-06-29 07:09] steverobprice opened #63 "Using factory methods rather than constructor"
We are using some factory methods to create our domain objects rather than using the constructor. It would be great to be able to use the `WithConstructor` extension (or something similar) to create the objects. Below is an example:

[code]
As the `WithConstructor` extension expects the a new expression, the above code throws an exception at runtime.

Any suggestions?

[2017-07-06 19:18] ckolumbus commented on #55
Hi all,
a carful question here: why targeting the latest and greatest runtimes when it doesn't seem to be necessary. At least the main lib is fully capable of being build against net461.. which I actually need because 4.7 is not installed in my environment and I rebuild it by just changing the frameworks target in csproj.

I'm also not sure whether netstandard1.6 is really necessary either. The fo

[2017-07-06 19:47] crmckenzie commented on #55
I'm close to having a working build for 3.5, 4.0, 4.7, and Standard 1.6. The compilation part works--I just have to get the build scripts all straightened out.

[2017-07-06 20:16] ckolumbus commented on #55
@crmckenzie great to hear this 👍  but do we really have platform specific code in the 4.7/1.6 arena that needs such a big API surface? Just to make myself maybe a little clearer: I'm only talking about the build for netstandard. I understand the specific  3.0 & 4.0 versions, but for eveything else we could check what the lowest netstandard version is that we need for the lib. Then we could support

[2017-07-06 23:24] PureKrome commented on #55
I've not ran the port analyser on this either ... but .... if it's all pretty common stuff, then it could target

- 3.5 (old / back compat)
- 4.0 (again, old / back compat)
- 4.5 (again, old and back compat)
- 4.6 == .NET Standard 1.3  (so that's 4.6+)

in theory, you could do this too..
- 3.5
- 4.0
- .NET Standard 1.0 (which is 4.5+)

[2017-07-06 23:46] lorddev commented on #55
@ckolumbus See PR #61 -- basically reflection stuff and trace logging had to be adjusted for platform-specific reasons. It's possible these APIs have been added back in for netstandard 2 but I haven't checked yet.

[2017-07-14 08:39] dgroh opened #64 "404 for https://github.com/Documentation/Configuration"
I'm looking for samples of `PersistenceService` , `SetCreatePersistenceMethod` and `SetUpdatePersistenceMethod`but I'm not findind anything. Is there a way of persisting data in NBuilder without using an ORM for Mocking purposes? Any sample somewhere?

[2017-07-21 03:09] PureKrome commented on #55
Is there anything we (the community) can do right now, to help?

[2017-07-21 03:37] PureKrome commented on #55
Oh also - speaking of frameworks once more ... does it have to target those low ones? could it possibly just target .NETStandard 1.4 and be done with it? The other frameworks can be packages up on NuGet that are obsolete or somehow maker as the most recent ?

[2017-07-21 17:43] lorddev commented on #62
@crmckenzie Should documentation be updated in order to reflect this behavior? Also, why does Appveyor say the build passes if this test doesn't pass?

[2017-07-21 17:49] lorddev commented on #55
@PureKrome I suppose testing/using my fork could help, in order to have more eyes on it. Then we might be able to persuade the Chrisses to move forward. Another thing I've been thinking about is whether we can remove some of the duplicate sln files like you said.

[2017-07-21 18:02] lorddev commented on #64
@dgroh The url in that link is a typo. Try https://github.com/nbuilder/nbuilder/wiki/Configuration

[2017-07-21 18:34] crmckenzie commented on #55
@ckolumbus "but do we really have platform specific code in the 4.7/1.6"
Unknown. One of the challenges I have is that the dev tools for dotnet core 1.0 and 1.1 do not play nicely side-by-side. My thinking was to err on the side of dotnet core 1.1 since it's newer and presumably represents the direction that MS is moving.

As to the progress on this issue: it's mostly done. I just need to find 4-6

[2017-07-21 23:17] PureKrome commented on #55
When you say "_push it up_" I hope you can do this if it's all to a separate branch so then we can pull it down, review, tinker, play and hopefully share the love/load and get a fix up.

I've done a heap of work getting things to work on AppVeyor with powershell ... but my experience with custom build tools like cake, etc is low.

I'm _very_ eager to help because this project is one of my major bl

[2017-07-21 23:20] PureKrome commented on #55
@lorddev Interesting you suggested reviewing #61 .. cause that's exactly what I did yesterday. First thing I did was clone this repo. Then switch to #61 then downgraded the framework from NS1.6 to NS1.4 ... deleted all the test projects .. then built .. and boom :(

This reflection stuff is killing me.

Any chance you could try and get the project to work on NS1.4 ??

When I do file->new->Standard

[2017-07-23 09:04] ckolumbus commented on #55
@crmckenzie just push it and I'll give it a try!

[2017-07-25 18:54] lorddev commented on #55
@PureKrome @crmckenzie per https://stackoverflow.com/a/40685046/16454 BindingFlags did not exist in 1.4 so I will have to reference another library for it to build.

[2017-07-25 19:13] lorddev commented on #55
@crmckenzie @PureKrome I'm sorry. It seems the reflection APIs in 1.4 are simply incompatible. Please consider using 1.6.

[2017-07-25 22:13] crmckenzie commented on #55
The conversion to .NET Standard 1.6 is complete. The code compiles. The tests pass. What's left is the scripts used to build the package on AppVeyor. I'll try to push that up tonight so others can help me with them.

[2017-07-25 23:12] PureKrome commented on #55
I have the day off so the sooner you push it up, the sooner I can look into it. 👍

[2017-07-26 03:33] crmckenzie commented on #55
I've pushed to feature/55.  Here's what I think needs to happen:
1) The .NET Standard Solution needs .NET Standard projects for the tests. They currently build against .NET 4.7 which seems to confuse the NUnit test runner during the build/test process.
2) Invoke-EmulateAppVeyor is the script I use to build the nuget package with the various compilled versions of NBuilder.

My goal is to produce a

[2017-07-26 05:01] PureKrome commented on #55
Thanks for pushing this up!

[2017-07-26 10:52] PureKrome commented on #55
@crmckenzie Yo - so I've started playing with your branch.

Okay. So i migrated `FizzWare.NBuilder.Tests` to .NS1.6. I'm a noob at this so it took a bit of meddling to get it to compile. Next issue was getting nunit to run at all. Doesn't get discovered in Resharper but it does get discovered in Test Explorer. *415* tests passed.

Next, I'm trying now with `FizzWare.FunctionalTests.Model` project.

[2017-07-26 15:38] crmckenzie commented on #55
Quick note: Be careful with "migrate"--we should build new test projects pointing at the same cs files so that the .NET 4 solution is unaffected by this work.

* Re: NUnit - Nunit works for me in VS, but it took some finagling. Where I left off is that it doesn't work from the command-line which I believe is the result of framework confusion.

* Re: EntityFramework - I don't have any easy answers

[2017-07-26 18:35] lorddev commented on #55
@crmckenzie tests are already broken. I created another issue: #62

[2017-07-26 19:01] crmckenzie commented on #62
@lorddev Tests pass for me. I'll have to dig into this at home. Not sure why you're getting different results.

[2017-07-26 23:11] PureKrome commented on #55
Yep. that's exactly what I did => `Add new Project -> Standard Lib 1.6`. Then copied the old files over to the new project.

Ah! CLI. ok. It's been ... maybe a decade since i used NUnit last so all this is new to me (i.e. learning the new _tools_ to use). So I'll see if I can get something working there/then.

I'll try dropping it, in the mean time. Baby steps, etc.

Totally agreed. I was more che

[2017-07-26 23:13] PureKrome commented on #62
Is this an issue of using a STATIC somewhere, so it becomes a poor race like condition?

I.e. @lorddev 's machine is faster??? or more parallel?? that @crmckenzie 's?

Statics in tests cause havok :(

[2017-07-26 23:14] PureKrome commented on #62
@lorddev does the test always fail for you when you run it BY ITSELF (and no other tests)?

[2017-07-26 23:27] lorddev commented on #62
The test always fails, even if it's the only one running. (The method is not marked static.)

[code]

[2017-07-27 00:13] crmckenzie commented on #62
I just did a fresh pull on a separate machine and re-ran the tests in NBuilder-NETStandard16.sln.

![image](https://user-images.githubusercontent.com/947569/28648854-abb57c56-7225-11e7-908e-124f5a7918a1.png)

[2017-07-27 00:55] lorddev commented on #55
`HasMany().WithMany()` doesn't work in EF 7. Otherwise I was able to finagle things. But it's kind of a blocker.

[2017-07-27 01:59] PureKrome commented on #62
I didn't mean the test method, but a resource which is used, in the test.

oh my! that's the Resharper runner!! I couldn't get my tests to run under that! I'm envious :(

[2017-07-27 18:58] lorddev commented on #62
I use Resharper, too.

[2017-07-27 22:15] crmckenzie commented on #55
Is there an EF7 equivalent? We could control that with preprocessor directives.

[2017-07-28 00:14] PureKrome commented on #55
Maybe drop EF and go Dapper? (no small feat :( )

[2017-07-28 00:15] PureKrome commented on #62
Any tricks into getting resharper to finding nunit tests?

[2017-07-28 00:43] crmckenzie commented on #55
@PureKrome I think it's easier than that. I'm looking into going in-memory. We're not testing Entity Framework--we're testing NBuilder's integration with some persistence mechanism.

BTW, NUnit published a new version of their test adapter. I'm looking into going .NET Standard across the board. I'll let you know if I get anywhere.

[2017-07-28 02:04] PureKrome commented on #55
Thanks heaps @crmckenzie - I totally know I'm sounding like a pushy, random OSS asshat so I totally appreciate volunteers finding time and trying to get things done in OSS projects, etc.

[2017-07-28 15:49] crmckenzie commented on #55
After a couple of hours of investigation last night, I think things need to happen in a specific sequence at this point.

1. Remove EntityFramework from the FunctionalTests project. Instead use an in-memory implementation of BaseRepository<T>. This has the sideeffect of removing the "ProductCategories" table from the tests and associated assertions as that table would be created by an ORM when tal

[2017-07-28 20:41] crmckenzie commented on #55
The feature/55 branch is now ready for a testing framework port for the .NET Standard projects. I tried MS Test and got nowhere.

[2017-07-28 22:47] PureKrome commented on #55
@crmckenzie can we please consider `xUnit` for the testing framework please? That's what' being used by the MS team for their repo's, etc.

ref: [Kestrel HTTP Server](https://github.com/aspnet/KestrelHttpServer/blob/dev/test/Kestrel.Core.Tests/AddressBinderTests.cs)
ref: [MVC]9https://github.com/aspnet/Mvc/blob/dev/test/Microsoft.AspNetCore.Mvc.Core.Test/AcceptedAtActionResultTests.cs)
ref: [Entit

[2017-07-30 20:52] lorddev commented on #55
@PureKrome They've declined previous requests to use xunit. But tests are working for me with nunit... just not the previously-mentioned one.

[2017-07-30 20:53] lorddev commented on #62
@PureKrome Have you tried Resharper -> Unit Tests -> Run all tests from solution ?

[2017-07-30 22:56] lorddev commented on #55
@PureKrome I think you're right. I've tried for a couple hours to get nunit working with .net core and I can't do it.

[2017-07-30 23:42] PureKrome commented on #55
Yep - and I agree with their rational for sticking with the current libraries. But now things have changed .. as in .. the older libraries are not working as easily with the newer ways.

So maybe this might be the catalyst for change ... ??

[2017-07-30 23:46] PureKrome commented on #62
Yeah :( still nope :( It's just not finding/discovering them all in Resharper. I've also made sure that i've got nUnit discovery ON in Resharper.

this is the main reasons why :(

[code]

no idea what that means :(

logging debugger window output text...

[code]

[2017-07-31 00:00] crmckenzie commented on #55
I have no principled opposition to using xUnit other than that changing a test-framework is a non-trivial operation and must be justified. So far that hasn't been the case.

That said, I've been unable to get _any_ testing framework (including xUnit) to work against a .NET Standard project. I have a prototype solution that I'm working on to prove that this or that testing framework will function b

[2017-07-31 00:02] PureKrome commented on #55
It's mon morning here. I'll see if I can get xUnit to work with the project at lunch or tonight. I've done a number of Core/NetStandard stuff with xunit. can confirm it _does_ work :)

[2017-07-31 00:02] PureKrome commented on #55
Refer to the links above for the official MS Repo's - they are all using xUnit + moq.

[2017-07-31 01:16] crmckenzie commented on #55
I've looked at that stuff and as I said I've tried to make it work but so far to no avail. I was able to get xunit to work with ReSharper, but not the command-line where it matters for the CI build.

[2017-07-31 03:07] PureKrome commented on #55
@crmckenzie

![image](https://user-images.githubusercontent.com/899878/28761250-ab0b2610-75f0-11e7-8986-48e17d3cdf40.png)

this was just for the `DatesTests.cs` class...

so far so good.
i'll try and do the entire `Unit` folder ... the move up to the `Integration` folder....

is this what you mean by that you couldn't get the tests running on the CLI ... cause I did straight away .. ???

or am I m

[2017-07-31 06:46] PureKrome commented on #55
Ok - some more info for everyone.

First, DISCLAIMER: I don't have .NET 3.5 installed on my machine. _I also refuse to install it_ (please, don't hate .. just my personal reasons). So these steps EXCLUDE 3.5 but it can be easily added in if you have it installed 👍

---

### Clean baseline.
1. Clone new, this repo.
2. switch `feature/55`. Pull latest upstream, just to be sure...

### First, get Mul

[2017-07-31 07:20] crmckenzie commented on #55
@PureKrome this is brilliant. I'm going to pull your src and tests folders and re-orient Invoke-EmulateAppVeyor.ps1 around your layout. Once I can reproduce your results, I'll start working on the tests.

[2017-07-31 07:32] PureKrome commented on #55
![](https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif)

![](https://media.giphy.com/media/yoJC2GnSClbPOkV0eA/giphy.gif)

[2017-07-31 15:42] pjmagee commented on #55
@PureKrome  I have admired your gif usage since you turned up to the NBuilder project. You always make me smile with your reaction gifs and input to this project and I'm happy this has been given a new owner and NBuilder continues on from Gareth. 👍  to your everyones efforts so far :D I always read all the NBuilder updates when I'm at work.

[2017-07-31 16:13] crmckenzie commented on #55
Alright @PureKrome you've convinced me. I'm going to retrace your steps using `git move` to preserve the file history. Thank you for leaving such a well-documented breadcrumb trail!

[2017-08-02 01:35] crmckenzie commented on #55
Okay I think this feature is done. @PureKrome would you like to review feature/55 and see if I missed anything? In the meantime I'm going to check for any quick bug-fixes that should make it into the 5.0.x release and start working on those.

[2017-08-02 01:43] PureKrome commented on #55
@crmckenzie did you get those erroring unit tests, to work / pass?

[2017-08-02 02:04] crmckenzie commented on #55
Oh yeah. The port away from Entity Framework was initially implemented as a static in-memory collection which of course doesn't play nice with parallelized tests. I did some test-refactoring and am now getting consistent green.

[2017-08-02 02:53] PureKrome commented on #55
Awesome! I'll check it out tonight and report back, etc.

Thanks!!

[2017-08-02 14:19] PureKrome commented on #55
`.vs` folders shouldn't be checked in.

like this one in `\src\vs` -> https://github.com/nbuilder/nbuilder/tree/feature/55/src/.vs/config

Also, I don't think you need the `Properties\AssemblyInfo.cs` file any more? And the `CommonAssemblyInfo.cs` ??

Also, the `NBuilder.snk` exists in the `src` and `src\FizzWare.NBuilder` folders. Duplicates?

The rest Looks Good To Me. AWESOME!

[2017-08-02 18:31] crmckenzie commented on #62
This PR was resolved in issue #55

[2017-08-02 18:31] #62 closed

[2017-08-02 18:33] crmckenzie commented on #55
Code ported, tests pass, AppVeyor build succeeds. Merging back to develop. This work will be in the next release (coming soon).

[2017-08-02 18:33] #55 closed

[2017-08-04 18:43] crmckenzie commented on #60
I added this test and was unable to reproduce:

[code]

[2017-08-04 18:43] #60 closed

[2017-08-04 18:48] crmckenzie commented on #64
I fixed the link in the wiki.

[2017-08-04 18:48] #64 closed

[2017-08-04 19:37] crmckenzie commented on #55
The beta package is up on nuget.org. @PureKrome , wanna pull it into a dotnet core project and verify the package is good?

https://www.nuget.org/packages/NBuilder/5.0.0-beta-135

I'm planning to release this weekend.

[2017-08-05 00:02] PureKrome commented on #55
I _might_ not get a chance in the next 48 hours. I'm literally about to head off to the snow for 2 days.

I will have a fair bit of time in a car (to snow) or bus (from snow) so I might try and test away.

VERY EXCITING!

![](https://31.media.tumblr.com/43e63461d1e3f22a49b18dbf15227a1d/tumblr_inline_n3t10oQfIh1solpjm.gif)

[2017-08-05 19:44] lorddev commented on #55
Going to switch all my projects that implemented a local dotnet standard fork of NBuilder to use the nuget one. I'll let you know how it goes!

[2017-08-05 20:18] lorddev commented on #55
Works great!

[2017-08-07 23:02] PureKrome commented on #55
Yep - works!!

[2017-08-09 10:32] pjmagee commented on #46
I always found the `GetRandom` to be hidden away and not really felt like part of the API that makes NBuilder so special. Not really related to documenting the static helper but, what about an override of our builder functions where we can pass in an instance of a generator, e.g

`With(x => x.Name, (generator) => generator.FirstName())`

[2017-08-09 11:42] PureKrome commented on #46
That's a great suggestion!

[2017-08-16 04:59] crmckenzie commented on #17
This issue has apparently been addressed by happenstance in version 5.0.0.

The following test has been added to the suite:

[code]

[2017-08-16 04:59] #17 closed

[2017-08-16 05:30] crmckenzie commented on #25
The way NBuilder is coded, `All()` methods are sorted to the beginning of the list of operations to perform.
I believe I know the reason. Consider this test

[code]

The fluent api allows you to setup the `All()` expression _after_ the `TheFirst()` expression. If NBuilder processed these instructions in order then `results.First()` would be false since that's what the `All()` expression does. To g

[2017-08-16 05:30] #25 closed

[2017-08-16 14:16] cullimorer commented on #42
So was this ever implemented? I want the same, to construct an object with different values on each new instantiation. Is that possible?

[2017-08-16 17:00] crmckenzie commented on #42
As implemented I can't really address this issue without making a breaking change to the Fluent API. Specifically, NBuilder is expecting a constructor expression as an argument to `WithConstructor()`. There are 2 issues with this:
1. The expression is not actually a `Func<T>` which is what I was expecting when I read it.
2. `Func<T>` cannot be easily converted to an Expression<Func<T>>, which you

[2017-08-16 21:52] PureKrome commented on #42
Bummer re: issue 2 because having a `Func<T>` argument with `WithConstructor()` would be soo much easier to read/grok vs another extension method.

(just thinking out a loud)

[2017-08-16 22:31] crmckenzie commented on #42
yeah--but look how complex this part of the code already is:

[code]

How many reflective `if` cases do you want to support? I'd much rather mark this method obsolete and point to the new (cleaner) method.

[2017-08-16 22:40] PureKrome commented on #42
Can you make this method obsolete and then add a new one, though ALSO called `WithContructor(F<T>)` ?

[2017-08-16 22:44] crmckenzie commented on #42
I could--but it would violate the principle of least surprise. Further, there's nothing about `Func<T>` that implies or requires "constructor"--but Factory Method fits the bill exactly.

[2017-08-17 07:42] cullimorer commented on #42
Hey guys, apologies I'm not sure if I was confused by the thread topic. I was finding when I used the WithConstructor() and setting the value that it was using that value for all constructed entities, which isn't great for testing purposes. The way I got around it was to use Faker.NET with NBuilder but mock out the entity I wanted with a call to Faker to set the default property each time.

With t

[2017-08-17 14:58] pjmagee opened #65 "Passing a generator through builder functions?"
I've always found the `GetRandom` to be hidden away and not really felt like part of the API that makes NBuilder so special. What about an override of our builder functions where we can pass in an instance of a generator, e.g

[code]

[2017-08-17 23:12] PureKrome commented on #65
Nice idea!  Totally agree re: `GetRandom` which was why I created #46

[2017-08-21 09:18] pjmagee opened #66 "http://www.nbuilder.org"
`http://www.nbuilder.org` no longer exists, i would just remove it from the Project and have it point to the Github repo :)

[2017-08-24 11:41] fromm1990 commented on #42
I also found the behavior, pointed out by the original comment, strange. When would it be convenient to have a list of size _x_ of identical items?

However I came up with a temporary fix for my project:

First create an extension method
[code]

Then initialize the Builder:
[code]

It should be mentioned that this strategy does not support `.All`, `.With`, `.And` etc. as the one shown in @cullimor

[2017-09-05 19:18] gpca opened #67 "RandomValuePropertyNamer: Would be nice to specify min/max string length"
Just as there is an option to set minDate/maxDate in the RandomValuePropertyNamer construction, there should also be an option to set minStringLength/MaxStringLength.

[2017-10-12 20:04] crmckenzie opened #68 "Support overwriting properties with non-default values."
Provide an optional override to the test called `ShouldOnlyNamePropertiesThatAreNullOrDefault`.

Here is some sample code for how this might be implemented.

[code]

[2017-10-24 09:47] phiree opened #69 "Can't Created child object"
Nbuilder can't build data to child object?
`
class Customer
{
 string Name
}
 class Order
{
 string Id
  Customer Customer
}
`
the Customer property is null.

[2017-11-14 17:36] ChrisMancini commented on #66
Worse, it appears to redirect to a ransomware site.

[2017-11-15 10:06] pjmagee commented on #66
@crmckenzie  Please remove the Link from the GIT repo ASAP!!!!!!!!

[2017-11-22 19:45] hilari0n opened #70 "DLL in NuGet package for v.5.0.0 is not strongly-named"
It seems that when switching to multi-target project (#55, [commit 624a229](https://github.com/nbuilder/nbuilder/commit/624a229a89fc797538224600bd02116c78020a43)) the reference to the strong-name signing key file was dropped (the SNK file is still there).
This resulted in the new binaries lacking the strong name (including the NuGet package release).

Please consider bringing the strong-name back,

[2017-12-04 02:59] PureKrome opened #71 "Optional Creation policy for child items in hierarchies."
When I have some hierarchies of items, sometimes I wish to define a way to create these child items.

Looking at the [Hierarchies wiki](https://github.com/nbuilder/nbuilder/wiki/Hierarchies) it looks like this can be done with the `HierarchySpec`. I'm not sure how to use that to do this...

[code]

Even this is not that great, because each time the child is added to whatever the parent might be ..

[2017-12-20 10:35] generik0 opened #72 "RandomValuePropertyNamer wiki out of date, and overrides .With confiogurations"
Hi
Fitrst, excellent package. Thanks!!!

I would like my whole test assembly to use the RandomValuePropertyNamer.
However the wiki is out of date and things have changed. Is this now correct?:

`BuilderSetup.SetDefaultPropertyNamer(new RandomValuePropertyNamer(new BuildSettings));`

It sortoff works, however it overrides all the custom".With(x=>x" configuraitons in the object build.

How to random

[2018-01-13 09:30] generik0 opened #73 "C#7 Tuples are not being build correctly"
HI

If I try to build a C#7 tuple e.g.

Build<(Class1, Class2)>.CreateNew()
.With(x=>x.Class1 = Builder<Class1>.CreateNew().Build())
.With(x=>x.Class2 = Builder<Class2>.CreateNew().Build())
.Build();

I get nulls for .Class1 and .Class2

[2018-01-13 10:34] generik0 commented on #73
I have added a pull request with a test proving the issue. Tried to fix. But looks like the delegate needs to know if the property is a tuplevalue.
Any ideas?

[2018-01-14 12:34] generik0 commented on #72
Found out to:
[code]
OR
[code]
Fixed readme and added test. Created pull request

[2018-01-14 12:34] #72 closed

[2018-01-14 16:50] generik0 commented on #73
Made a example fix. Any thoughts about adding the ValueTuple nuget package?
can there be net4 problems=? Maybe a #IF that needs .net x +?

I need to look into the ValueTuple type for compare, instead of the string...

[2018-01-15 18:11] crmckenzie commented on #73
Interesting. Great find!

By default NBuilder doesn't cascade the creation of reference properties. (E.g., `CreateNew<Employee>()` will not populate an `Address` object on Employee.

Ordinarily the way you would handle this would be given by the following test:

[code]

However, given that ValueTuple is a struct these the assignment to Class1 is not "sticking" because structs are passed by value.

[2018-01-15 18:16] crmckenzie commented on #71
I've never actually used `HierarchySpec`. Could the call to `AddMethod` be a multiline lambda that contains all the code to generate the `Communication` object?

[2018-01-15 18:42] generik0 commented on #73
Ok. What would you like me to do here?

[2018-01-17 08:42] generik0 commented on #73
I will give it a shot with some tests and "typeof(Foo).IsValueType" to detect if it is a struct, and then handle to creation appropriately. I will get back asap.

[2018-01-18 03:04] crmckenzie commented on #73
I'd be surprised if that approach will bear any fruit due to the "by val" vs "by ref" issue.
This is going to require some deep thought to figure out if it's even possible. See [this SO article](https://stackoverflow.com/questions/17280547/why-can-i-not-modify-the-result-of-an-unboxing-conversion) .

[2018-01-18 06:08] generik0 commented on #73
Well the concrete problem with the Value tuples should be solverable.
Just using .IsValueType and has generic arguments.
Then the activator can build the ValueTuple.

Maybe we could start with this feature and wait with the normal structs?

[2018-01-18 06:10] generik0 commented on #73
As Patton said:
A good plan violently executed now is better than a perfect plan executed next week.

[2018-01-26 13:56] generik0 commented on #73
new and a little biut better implentation added as pull request.
Please review.

[2018-02-20 18:13] GuerrillaCoder opened #78 "Is documentation out of date?"
I am new to NBuilder but the docs don't seem to line up with functionality.  For instance `.WhereAll()` doesn't exist but there is a `.All()` method.

[2018-02-22 03:47] PureKrome opened #79 "Random generation of enums never includes the last enum-value"
So if I wish to generate a random enum using this code ...

[code]

the result will be random, but it will **NEVER include the last enum value**.

### Update

My initial reason was wrong, which was why I crossed out the convo below but didn't delete it for future reference, etc.

---

~why? [cause of this](https://twitter.com/purekrome/status/966511079672070144)..~

![image](https://user-images.gi

[2018-02-22 04:31] PureKrome commented on #79
Ok - so it seems like the code _looks_ ok, but it still errors. So, heres a repo which can reproduce the errors:

[code]

[2018-03-03 11:15] PureKrome opened #81 "GetRandom.Url is not unique when using CreateListOfSize(..)."
When trying to return a list of `YourCustomClass` using `CreateListOfSize(..)` ... and one of the properties of `YourCustomClass` is a string but is randomized using `GetRandom.Url()` .. then results are all the same.

e.g. (working repo code)

[code]

In the example above, I'm asking to create list of 10x `MyClass`. In it, I'm asking that the property `StringOne` is randomized to be some random U

[2018-03-03 11:34] PureKrome commented on #81
Urgh. Closing this. During my fix - it was still experiencing the same problem :(

So I reviewed _how_ I was setting this value:

[code]
I _think_ this means the following:

`.With(x => x.StringOne, GetRandom.Url())`

For _all_ of the `x.StringOne` properties, use THIS SINGLE/ONE-TIME COMPUTED value: `GetRandom.Url()`. Which means, `GetRandom.Url()` is called 1x only and reused 9x.

vs

`.With(x =

[2018-03-03 11:34] #81 closed

[2018-03-11 21:05] crmckenzie commented on #73
I'm sorry it took me so long to review this PR. I've taken a new job which is also a new role and it's taken me this long to come up for air.

I like the inventiveness of your approach but it still fails for the same reasons I've outlined above. Here's a sample test case that demonstrates what I'm talking about:

[code]

NBuilder has a design flaw in the way it constructs objects that does not all

[2018-03-12 06:38] generik0 commented on #73
Hi
No stress. I didnt test with the random value property and you are right this should also pass :-/

[2018-03-12 06:38] #73 closed

[2018-03-30 09:15] IvanZaporozhchenko opened #82 "NBuilder doesn't work with structs"
I have following code:

[code]

This test fails. Name equal null. It is all the same for the structs.
Do you have structs support on the roadmap?

[2018-04-20 12:37] apollo2030 opened #84 "Add support for interfaces to BuilderSetup.DisablePropertyNamingFor"
In a multi tenant scenario, the db entities usually have a property that denotes that they are for that specific tenant:

[code]

When writing tests for the db layer, it is useful to disable the autoassignment for this property by just specifying an interface in BuilderSetup.DisablePropertyNamingFor.

[2018-05-01 20:15] kennfarbe commented on #70
I need the strong-name, too.

[2018-05-01 22:31] PureKrome commented on #70
Don't forget, you can clone, compile + SN yourself, as an interim step.

[2018-05-01 22:34] PureKrome commented on #66
ping @crmckenzie or @garethdown44

the link at the top of the github repo needs to be fixed. Takes one sec.

ref:

![image](https://user-images.githubusercontent.com/899878/39496814-8842c662-4de3-11e8-8b50-c1ad715bee6f.png)

[2018-05-03 05:57] moosat commented on #69
I would also like to know if there is a way for filling the child object with single Builder command.

[2018-05-04 16:54] sorcer1 commented on #78
I have the same issue.

[2018-05-16 04:27] #84 closed

[2018-07-06 20:46] crmckenzie commented on #79
Fixed in develop.

[2018-07-06 20:46] #79 closed

[2018-07-06 20:48] crmckenzie commented on #82
Because of how structs are treated in the framework when passed ByVal, they cannot be supported with the current NBuilder design. The library would essentially have to be completely rewritten to support structs which is not feasible.

[2018-07-06 20:48] #82 closed

[2018-07-06 20:53] crmckenzie commented on #78
Yes. The documentation is old and out of date with the actual API. I've been addressing these problems where I find them. If you find other examples of this please file issues--or better yet, submit a PR. :)

[2018-07-06 20:53] #78 closed

[2018-07-06 20:55] #7 closed

[2018-07-07 01:28] #70 closed

[2018-07-07 01:46] #16 closed

[2018-07-07 02:36] crmckenzie commented on #42
I came to my senses. From the release notes:

* Breaking Change: `WithConstructor`
  * No longer takes an `Expression<Func<T>>`.
  * Takes a `Func<T>`.
  * Marked `[Obsolete]` in favor of `WithFactory`
  * This change was to address an [issue](https://github.com/nbuilder/nbuilder/issues/42) in which the constructor expression was not being reevaluated for each item in a list.

[2018-07-07 02:36] #42 closed

[2018-07-07 02:43] #15 closed

[2018-07-07 02:44] crmckenzie commented on #63
Addressed in 6.0.0 by issue #42

[2018-07-07 02:44] #63 closed

[2018-07-07 02:47] #11 closed

[2018-07-07 18:19] #10 closed

[2018-07-07 18:28] crmckenzie commented on #20
Unable to reproduce. Must have been addressed by an earlier bug.

[2018-07-07 18:28] #20 closed

[2018-07-13 13:56] ArnaudB88 opened #86 "Overwriting the default value of a type"
Hi,

Is it possible to overwrite the default value given to a type?
If not, can this be implemented?

It would be very handy for the nullable Guid type. These properties are now set with the guid value '00..1', which gives a FK exception when saved to a database. I have to fix this by setting null to each Guid? type property.

Example: the ParentId property is the foreign key (nullable Guid) for t

[2018-08-08 09:46] ArnaudB88 opened #87 "Support async IPersistenceService"
Hi,

Is it possible to add support for an asynchronous persistence service with async create and update methods?

Thanks!

[2019-01-01 06:41] smadurange opened #88 "How to only mock selected properties using NBuilder?"
I'm trying to seed a database using mock data generated with NBuilder. I have some properties that are database generated (e.g. primary keys). Hence, it would be very useful if we can opt-in/opt-out properties that are mocked by NBuilder. Is this possible?

[2019-01-30 12:56] fuzzbuzzz opened #89 "Ability to call builder.createnew with runtime types?"
hi,

Great lib!

I needed to create test objects with runtime types, so I did this:
[entityType is type of System.Type]
            // Arrange
            var nBuilderType = typeof(Builder<>).MakeGenericType(entityType);
            dynamic generated = nBuilderType.GetMethod("CreateNew").Invoke(null, null);
            var expected = generated.Build();

Can you implement a non-generic version of t

[2019-02-26 00:04] crmckenzie commented on #89
It could make sense. Let me look at it and get back to you.

[2019-02-26 01:56] crmckenzie commented on #89
It's do-able but non-trivial. The challenge is that `Builder<T>` uses `ObjectBuilder<T>`, so the generic arguments flow pretty deeply. I'd need to create three overloads for `CreateNew` and `CreateListOfSize`. I'll spend some time with it and see if it falls fast.

[2019-02-26 02:06] crmckenzie commented on #89
I'm open to being persuaded, but I don't think this can work. Overloading the above methods is the easy part. The hard part is the fluent API that hangs off of `CreateNew` and `CreateListOfSize`.  It would be an enormous amount of work to rewrite all of that and I'm not even sure what the method signatures would look like.  I'm going to close this for now. If you see a path through the mess then f

[2019-02-26 02:06] #89 closed

[2019-02-26 02:13] crmckenzie commented on #88
You can't opt-in, but you can opt-out. See the following code:

[code]

I just added these tests and they pass.

[2019-02-26 02:13] #88 closed

[2019-04-09 19:29] rzstead opened #90 "System.InvalidOperationException : Collection was modified; enumeration operation may not execute."
Specifically on PropertyNaming.PropertyNamer.ShouldIgnore(MemberInfo memberInfo), we have thousands of unit tests running in parallel, utilizing NBuilder, and on occasion we see this enumeration modification error, on seemingly unrelated tests. I was wondering if this is due to the static nature of the Builder classes and if there is a workaround addressing this. Thanks!

[2019-04-22 07:05] oviradoi opened #91 "CreateListOfSize problem when running tests in parallel"
We are trying to run unit tests in parallel in our codebase using NUnit, and we have noticed that when creating a list using `CreateListOfSize`, the generated objects don't always have the same property values.

Here is an example:

	public class Person
	{
		public int Id { get; set; }
		public string Name { get; set; }
	}

	[TestFixture]
	[Parallelizable(ParallelScope.All)]
	public class TestClas

[2019-05-01 22:51] mcockrellsana commented on #91
We had the same issue, to solve it when using the creation of list's we had to explicitly set the properties we were concerned about in our tests.

[2019-05-02 06:22] oviradoi commented on #91
I have also used that workaround, but when you have a lot of properties you end up adding a lot of code into your tests and it leads them to becomming cluttered. It would be a lot better for this to be fixed.

[2019-05-02 12:53] mcockrellsana commented on #91
The bigger issue is auto incrementing int properties in these lists.  In parallel tests, for some reason the auto incrementing either skips a number, duplicates a number or entirely fails at setting the property.  So for any field we use in tests, we just set it now, it's still much cleaner than hand writing a large entity out.  We also narrow our tests to usually only 3 to 6 sets in lists.  Usual

[2019-05-05 05:15] mcockrellsana commented on #91
After more investigation, this same issue also seems to occurs in CreateNew, it's not as prevalent, but I've seen issues with int properties being expected to be created with 1 (since you are creating only one instance) but in reality they are either null, 0, or something else. I think the entire nbuilder package needs a once over to be thread and parallel safe. @oviradoi would you be willing to f

[2019-05-05 06:43] oviradoi commented on #91
When creating this pull request, I tried reproducing the same issue for `CreateNew`, but I have not been able to.

Looking at the code, it looks like `CreateNew` uses the `SetValuesOf<T>(T obj)` method from `SequentialPropertyNamer`. That method always sets the `_sequenceNumber` to 1, so the different threads always use the sequence number of 1.

I can't see this issue happening for `CreateNew`. M

[2019-05-06 04:23] mcockrellsana commented on #91
Wouldn't the test be very similar to your threaded test for the list?  Just replacing the list and foreach shouldbe's with a CreateNew call with SimpleClass, and then verifying all properties are 1?

I've implemented your test and fix for the parallel list issue locally and it sure indeed does fail without the fix you've put in place for creating a new SequentialPropertyNamer.  I'm unable as you s

[2019-05-06 06:05] oviradoi commented on #91
I have tried writing a test for CreateNew, similar to the one for CreateListOfSize. However, I could not get it to fail under any circumstances. It looks like you have tried the same thing and had the same result.

I also think that creating a new instance of SequentialPropertyNamer in CreateNew would not hurt, but I wanted to keep my pull request as simple as possible and I did not want to fix pr

[2019-05-06 06:36] PureKrome commented on #91
I'm (was?) just a contributor but keeps an eye on this project :) @crmckenzie would have to make that final call.

[2019-05-06 23:42] crmckenzie commented on #91
I could take a PR to make this better, but I think the problem is solvable by using a new `Builder` instance instead of using the static one. This is recommended anyway since the static `Builder` instance will be going away in a future version.

[code]

[2019-05-07 14:10] oviradoi commented on #91
@crmckenzie I have created a pull request over here: https://github.com/nbuilder/nbuilder/pull/92
If you think that creating a new instance of the builder is the way to go, then I can abandon the pull request.

[2019-05-07 15:56] crmckenzie commented on #91
I appreciate that @oviradoi. Based on the code sample that is submitted in this issue, I think using an instance of `Builder` is the right choice. However, the same problem might still occur if the parallelized tests are using a common instance of `Builder`--so I think there's still room for the PR.

I want to run the PR by a colleague who groks multi-threading better than I do before I accept it.

[2019-05-07 16:32] oviradoi commented on #91
@crmckenzie I can confirm that using a new instance of the Builder solves the problem. Switching all our tests to the new syntax is a pain, but is certainly doable. This is not a huge issue for us.

When reviewing the PR, please also investigate @mcockrellsana 's comments in order to see if applying the same patch in `CreateNew` makes sense.

Thanks for your help :)

[2019-08-10 06:48] harishrathi opened #94 "create list with factory and then customize"
using nbuilder in .net core project to generate test data. it seems have a bug when creating a list

[code]

above code complete ignored `factory` method and I have object with values which are set in `SetFileData` and not combination of both `factory` follow by `setFileData`

[2019-08-24 19:20] crmckenzie commented on #91
I think this issue is closed given the PR. Yes?

[2019-08-25 16:42] oviradoi commented on #91
Yes, I would consider this fixed. Thanks :)

[2019-08-25 16:42] #91 closed

[2019-08-25 22:56] PureKrome opened #95 "Obsoleting the static Builder?"
Hi @crmckenzie 👋

I noticed in #91 that there is mention of obsoleting the `static Builder()`. Awesome ... (emphasis mine to highlight my question):

Question: is there an ETA or plan on when this might happen. At least adding the `[obsolete]` attribute to give people a release cycle to prepare for the breaking change?

Cheers!

[2019-08-25 22:58] crmckenzie commented on #95
Adding an `Obsolete` tag will happen sometime before 7.0. Once this is done I can start thinking about more advanced extensibility options for the builder configuration.

[2019-08-26 01:08] PureKrome commented on #95
Awesome - thank you sir!

[2019-08-26 01:08] #95 closed

[2019-08-28 21:25] #90 closed

[2019-08-31 04:31] crmckenzie commented on #94
Can you express this as a unit test? It's hard to tell what might be happening without the full code and expectations.

[2019-09-05 10:26] harishrathi commented on #94
scenario was like below

[code]

but somehow its working now .. sorry for the trouble, closing the issue.

[2019-09-05 10:26] #94 closed

[2019-10-30 09:13] generik0 opened #96 "Proposal: PropertyNamer does not support returning nulls"
When using entity FW and DBs. It is greate to make nullable FK's automatically have a null value.
This used to work when overriding RandomValuePropertyNamer. but v6 i can no longer return a null ie.. default(int?) (or maybe the issue is C# latest.)

Could i propose adding the nullables get methods for the Guid and int in the RandomValuePropertyNamer?

[2019-10-30 13:22] generik0 commented on #96
I gues the "ShouldIgnore" is a way to also achieve this

[2019-10-30 13:22] #96 closed

[2019-11-20 02:16] Doug-Murphy commented on #79
This is still an issue for the other `Enumeration(Type type)` method. PR incoming.

[2019-11-22 01:34] Doug-Murphy opened #98 "Add ability to generate IPv6 and MAC addresses"
This issue is to add in support for generating a random IPv6 address as well as the ability to generate a random MAC address.

[2019-11-29 22:10] Doug-Murphy opened #100 "Use C#8 and Nullable Reference Types"
https://devblogs.microsoft.com/dotnet/embracing-nullable-reference-types/

All information about what NRTs are, why they should be used, and the call to action from Mads Torgersen is in the link above. Let's get support built in before .NET 5 release in November 2020! :)

[2019-12-18 21:25] jaymclain opened #102 "Public members with private setters are being set."
This is an extension of #11.

Public members with private setters are being set. For example, with the class:

[code]

I would not expect the property `ShouldntSet` to be set with NBuilder.

Unfortunately, it is. In the case where I have another method on the class which sets the value of the property, it can be initialized with meaningless (to the class) information.

[2019-12-21 14:31] #98 closed

[2019-12-27 01:50] Doug-Murphy commented on #100
This could be a controversial decision to be made. In order to use C# 8, it looks like you must be using .NET Core 3.x or .NET Standard 2.1. See [C# versions based on target framework](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/configure-language-version). Updating to .NET Standard 2.1 appears to drop support for all versions of .NET Framework. See [version compatibility sel

[2020-01-01 14:05] Doug-Murphy opened #104 "Add additional address information for USA"
Support should be added for additional address information for USA beyond just the state. This includes address line 1, city and postal (ZIP) code.

[2020-01-01 22:41] PureKrome commented on #104
![](https://i.ytimg.com/vi/KtJJC0nWs9s/maxresdefault.jpg)

that said, this would be a great "Up for Grabs" issue for those who can submit a PR.

[2020-01-01 22:43] Doug-Murphy commented on #104
@PureKrome I already have. :)

[2020-01-01 22:43] PureKrome commented on #104
Yep 😊 - just edited my reply. 😊

[2020-01-05 17:45] Doug-Murphy commented on #86
@ArnaudB88  I realize this is an extremely late response, but perhaps it may be helpful for someone else who comes along.

I just took a stab at implementing this. In doing so, I found that it seems you may be able to accomplish this by using the following code.

`BuilderSetup.DisablePropertyNamingFor<Domain.ProductStructure, Guid?>(x => x.ParentId);`

By doing so, a default value is not generated

[2020-01-05 22:28] Doug-Murphy opened #106 "Allow nullable value types to be built as null"
This idea came from #86. It would be helpful to be able to allow nullable value types to be generated as null instead of falling back to their non-nullable equivalents.

The default behavior should remain as-is. That is to say that a nullable value type will be generated with its non-null equivalent's default value. Ex: `int? foo` will be generated as `1`.

There should be two levels of this suppo

[2020-01-06 11:34] ArnaudB88 commented on #86
@Doug-Murphy I was aware that it was possible with that method, but with a huge database and many nullable Guids it is not exactly user-friendly.
Also, changing the database would imply you must change the nbuilder setup.
Therefor I would suggest disabling the default value based on a type.

Thank you for looking into this! :)

[2020-01-06 11:42] Doug-Murphy commented on #86
Arnaud,

That's what I was thinking. :) Which is why I implemented what I did
yesterday. Feel free to check out the PR I opened up yesterday to see if
that would satisfy your use case.

On Mon, Jan 6, 2020, 6:34 AM ArnaudB88 <notifications@github.com> wrote:

[2020-01-06 11:51] ArnaudB88 commented on #86
Just went through the PR, looks very good! Thank you for this :D
I hope it gets approved soon.

[2020-01-06 12:07] Doug-Murphy commented on #86
I'm glad that it fits your use case! :) My last PR went in after 2 weeks or
so I think? And it got updated on NuGet not long after. Stay on the lookout
I guess. :)

In the meantime, should this issue be closed?

On Mon, Jan 6, 2020, 6:51 AM ArnaudB88 <notifications@github.com> wrote:

[2020-01-06 12:15] PureKrome commented on #86
IMO, nope ... leave this open. Using the [Github closing commit keywords](https://help.github.com/en/github/managing-your-work-on-github/closing-issues-using-keywords), when the PR is merged, it will auto closed linked issues, now that i've linked the two.

[2020-01-06 22:24] Doug-Murphy opened #108 "AppVeyor link in readme is broken"
The link at the bottom of the readme file to view the AppVeyor page results in a 404.

https://ci.appveyor.com/project/NBuilder

[2020-01-09 01:56] Doug-Murphy opened #109 "Rename contributor guide so GitHub detects it"
https://help.github.com/en/github/building-a-strong-community/setting-guidelines-for-repository-contributors

Update the contributing guidelines file that is already present in the repo to be renamed contributing.md so that GitHub can detect its presence and provide more meaningful context to developers looking to contribute.

[2020-01-12 01:42] Doug-Murphy opened #111 "Display IntelliSense for consumers of NBuilder"
As a consumer of this package, I would like IntelliSense displayed when I am using this package in my software so that I can better understand what the methods I am using are doing.

Generate the XML documentation file and package that into the NuGet package.

[2020-01-12 13:03] Doug-Murphy opened #112 "[Discussion] Should RandomGenerator be public or internal?"
It seems to me that the RandomGenerator class maybe shouldn't be public, but rather it should be internal since it seems to be (at least almost) a complete duplicate of GetRandom. GetRandom uses this class exclusively to do all of its random generation, so exposing RandomGenerator could become confusing to certain users.

Is there something I'm not seeing? Should things be kept as-is to avoid any

[2020-01-12 22:44] PureKrome commented on #112
If it's a duplicate, then obsolete or internal. I would prefer obsolete because why have 2x versions of the same code?

yes, those 2 options are breaking changes, etc. which is fine with a major semver release IMO.

[2020-01-13 00:38] Doug-Murphy commented on #112
@PureKrome I'll have to do some more looking into this and create a list of shared functionality. Initial glance at least revealed a significant amount of shared functionality.

My current preference is that whatever exists in `RandomGenerator` but not in `GetRandom` should be ported over, then `RandomGenerator` deleted. I would be in favor of this breaking change and releasing a new major version

[2020-01-13 01:02] PureKrome commented on #112
![](https://media.giphy.com/media/xT9IgrNBmDXi6Z0YoM/giphy.gif)

[2020-01-18 13:03] Doug-Murphy commented on #112
It looks like `RandomGenerator` is used heavily by `GetRandom` (as stated above) since `GetRandom` is more of a wrapper around `RandomGenerator`. However, I can see a use-case for wanting to keep `RandomGenerator` exposed publicly since it's a bit "lower level" in its use. I personally still think having it as `internal` makes sense, but I can see why some users may want the lower level access tha

[2020-01-19 22:23] PureKrome commented on #112
I'd still vote to simplifying all of this.

There could easily be a roadmap for this -> obsolete it for a major semver version and see if there are any complaints. If there are, re-evaluate. Otherwise, we're good to go.

I personally prefer simplified API's/Libraries instead of too many options which could confuse consumers/developers to which way to go/use.

[2020-01-20 00:28] Doug-Murphy commented on #112
I completely agree with you on this. I think it's probably better overall to consolidate these into one interface (GetRandom static class in my opinion). I just error on the side of not removing functionality from users who may be expecting it. But so long as an alternative is provided for them... it should be ok.

Do you want to take a stab at consolidating any missing functionality from RandomGe

[2020-01-20 01:02] PureKrome commented on #112
Kewl - nice to see someone else thinking similar to me :) I'm also not a maintainer of this library, just someone who's been using it for _ages_ so I sorta interested in seeing where things go with it.

So IMO .. yep, give this a _first pass_ go. If it's going to take more than an hour or 2, I'd wait until @garethdown44 or @crmckenzie (the 2 repo maintainers?) throws his thoughts in here .. consid

[2020-01-21 00:52] crmckenzie commented on #112
Official maintainers right now is me. Gareth is a victim of love, marriage, and parenthood so doesn't meaningfully contribute anymore. I'm due for a another round of PR review so I'll get on that soon.

Regarding this one, I can see how RandomGenerator could be useful in isolation, but I don't see a need for multiple implementations. I'm definitely in favor of consolidating into a single instance-

[2020-01-21 00:55] Doug-Murphy commented on #112
Good timing for me to chime in seeing as this was active literally 1 minute ago. :D

I just looked at RandomGenerator and did a feature comparison with GetRandom. I can confirm that GetRandom includes 100% of RandomGenerator. I will open a quick PR to just mark RandomGenerator as [Obsolete] so that there is time for it to sit a bit pending marking it internal (or removing it?) for the next major r

[2020-01-25 13:05] Doug-Murphy opened #115 "Change RandomGenerator class from public to internal"
Placeholder issue for the next major release.

With #112 it was decided that `RandomGenerator` is a duplicate of `GetRandom` and should therefore be made `internal`. Since this is a breaking change, changing it from `public` to `internal` will have to wait until some point in the future. It was marked obsolete in #114 so after that PR is merged and some time has gone on, this issue will be develop

[2020-02-10 17:31] jaymclain commented on #102
Specific example:

[code]

With the current version of nbuilder, PublicPhoneNumberEncrypted will be populated with a value which does not accurately represent an encrypted value in my implementation. I would not expect a method with a private setter to be initialized. I am protecting the member from being set externally.

[2020-02-16 21:08] Doug-Murphy commented on #112
@crmckenzie Are you available to address the lingering PRs? :)

[2020-03-26 08:41] BenakTomas opened #116 "Possibly inconsistent license information for v 6.1.0"
NuGet package NBuilder 6.1.0 references the LGPL license (https://www.nuget.org/packages/NBuilder/6.1.0) while the LICENSE.MD file for the release branch for version 6.1.0 (https://github.com/nbuilder/nbuilder/blob/release/6.1.0/LICENSE.md) specifies the MIT license.
Which is the correct one?

[2020-03-31 14:38] harishrathi opened #117 "consider removing check for CreateListOfSize(1)"
Currently there is a check that the value passed to `CreateListOfSize` must be greater than one. The problem with this is, when we are using runtime populated list, whose size can be 1, I have to write duplicate implementation using `CreateNew`.

Can you please consider removing this check?

[2020-05-03 13:01] harishrathi commented on #117
seems to be resolved in latest version

[2020-05-03 13:01] #117 closed

[2020-07-02 17:34] pa1kota opened #119 "Wiki Home Page has broken links - Lists and Fluent Dates"
When exploring the details in Wiki found couple of broken page links on the Home page.

Issue screenshot:
---
![image](https://user-images.githubusercontent.com/67755408/86391085-1c578900-bc91-11ea-81eb-7624d62f8ea2.png)

Workaround:
---
Check the available Pages and navigate the required page.

![image](https://user-images.githubusercontent.com/67755408/86391756-380f5f00-bc92-11ea-9b81-7f8770c108

[2020-07-14 23:17] PureKrome commented on #116
Also related to #107 where the `csproj` file was updated to `<PackageLicenseExpression>MIT</PackageLicenseExpression>`.

[2020-07-14 23:19] PureKrome commented on #106
Now fixed via #107

[2020-07-15 16:26] crmckenzie commented on #104
I'm conflicted on this one. It's the sort of feature that's potentially never done since there will always be a random city, state, county, province, district, locale, etc. that gets missed. I'm thinking NBuilder may have taken a wrong approach here. Perhaps it would be better to allow property assignment from a provided set of values.

I'm pseudocoding here, but something like:

[code]

Thoughts?

[2020-07-15 16:36] crmckenzie opened #121 "Evaluate github actions as opposed to AppVeyor for CI/CD"

[2020-07-15 21:46] Doug-Murphy commented on #104
@crmckenzie Yeah I think that's a fine idea honestly. I see this functionality co-existing with your proposal above as there is already the `GetRandom` static class. There are two different usages that I see being common and valid. Some people may use this package just for generating random data explicitly using the `GetRandom` static class into existing objects. Others might use the more NBuilder

[2020-07-15 23:19] PureKrome commented on #104
I prefer the property assignment method. It always vexxes Non-USA people (which are a lot, for-the-record) that the data is only USA related.

Keep this data out of NBuilder and make it _really easy_ to use <your own data source>.

For example, I just did a 1 sec google search and found a [free list of USA cities/~postcodes~zipcodes/etc](https://simplemaps.com/data/us-cities). If i manually downlo

[2020-07-15 23:56] crmckenzie commented on #104
Well, my thought was to introduce the property assignment method and mark the hard-coded lists as obsolete. That preserves the existing behavior for awhile while people get used to the newer, better method. `ValueSet` could also offer a `Random()` function as opposed to `Next()` just to keep things exciting and user-friendly.

@PureKrome do you have any data to support this assertion? lolz

[2020-07-16 00:29] PureKrome commented on #104
great! that's consistent with how MS does it (e.g. [the good ole Binaryformatter Serializer](https://github.com/dotnet/designs/pull/141)). In a future major semver, it can then get removed.

:) i'll check with my American friends for some data.

oh

wait ....

[2020-07-16 01:04] crmckenzie commented on #104
[code]
I just implemented this and it works nicely.

[2020-07-16 01:05] crmckenzie commented on #104
[code]

[2020-07-18 19:22] Doug-Murphy commented on #104
I thought I understood the new proposal at first, and now I think I don't. :D @crmckenzie Are you proposing that the consumer of NBuilder will be responsible for providing their own list for generating the random pieces like first/last names, cities, etc? I can kind of agree with this because it adds more flexibility, but I also find it an inconvenience. Personally speaking, I found that NBuilder

[2020-07-20 20:33] crmckenzie commented on #104
I'm proposing preserving what's there, but moving it out of `GetRandom` while providing the ability for end-users to customize their needs through `ValueSet`.

[2020-07-20 23:03] Doug-Murphy commented on #104
Gotcha. In that case, you have my support! :D I'm confused about `ValueSet` though. I haven't used it before, but it seems like `HashSet` may be a better data structure based on what I perceive the usecase to be.

[2020-07-20 23:16] crmckenzie commented on #104
I'll try to explain ValueSet.

Consider an enum.

[code]

When assigning data to NBuilder collections, I want it to iterate over the enum variants so that they are distributed through my test data.

[code]

What happens here is that when we reach the end the list of variants, NBuilder starts over from the beginning of the list.

What happens with `GetRandom` is different--it always chooses a rando

[2020-07-20 23:31] Doug-Murphy commented on #104
Well it helps that now I see `ValueSet` is a custom data structure. :D Haha. Yes this all makes perfect sense now.

So in the interest of moving forward, what if we merge the associated PR and close out this issue? Then look at the `ValueSet` work again since it seems to be a fundamental redesign. These two things seem disjointed enough such that one should not block the other.

[2020-10-14 07:39] ArnaudB88 commented on #86
I see that the PR is merged into the develop branch.
Is it possible to merge it to the master branch and release a new nuget version?

[2020-10-14 11:12] Doug-Murphy commented on #86
@crmckenzie

[2020-12-16 12:04] jzrandall opened #123 "Can't disable automatic property naming globablly"
I'm trying to apply the setting to turn off automatic property naming as described in the readme [here](https://github.com/nbuilder/nbuilder#turning-off-automatic-property-naming) but it appears that the AutoNameProperties static property on BuilderSetup is now read only.

Is there now a different approach to doing this? Or was this never meant to be a global setting?

[2021-01-06 10:44] HoLLy-HaCKeR opened #124 "Prevent user from using double equals in builder.With calls"
Using NBuilder at work, every now and then I will typo the `builder.With(x => x.Id = 10)` pattern to `builder.With(x => x.Id == 10)`, which will not work. I propose throwing an exception when the user does this, or adding a Roslyn analyzer to detect it and give a hint in their IDE.

[2021-02-09 08:54] ArnaudB88 commented on #87
@crmckenzie Any idea if and when this could be added? Thanks

[2021-02-10 19:39] ArnaudB88 commented on #86
@Doug-Murphy @crmckenzie Can anyone look into this please.

It very silent in this repository ... Maybe it is an idea to add owners? (just a suggestion)

[2021-02-10 22:23] PureKrome commented on #86
@ArnaudB88 another suggestion (due to the silent repo) is to possibly look at using https://github.com/bchavez/Bogus as a replacement for this repo.

[2021-02-14 01:06] Doug-Murphy commented on #86
@ArnaudB88 I agree. :) It seems that this repo has died off. As such, I have decided to stop contributing.

As @PureKrome said, I think you may be better served using a different package moving forward.

[2021-02-14 02:03] PureKrome commented on #86
yeah - maybe this repo should go into archive mode and redirect people to [Bogus](https://github.com/bchavez/Bogus), instead.

[2021-02-14 17:50] garethdown44 commented on #86
Hi - I'm the original author. I haven't used .NET for many years so this project is not something that I can justify spending any time on and I'm out of touch with it now anyway, but I'm happy to appoint someone to look after the repository if anyone wishes.

[2021-05-14 11:03] EmanterolaDN commented on #60
It happened to me... Maybe @dgaffield was referring to .Phrase() rather than .Next(x,y)
failed even instantiating the object outside loop and reusing it... @crmckenzie

![image](https://user-images.githubusercontent.com/73877504/118261535-f8212700-b4b3-11eb-93e6-7ac261f60524.png)

        [TestMethod]
        public void RandomGenerator_WithShortPhrase_NeverReturnsEmptyString()
        {

[2021-05-14 11:09] EmanterolaDN commented on #60
@dgaffield @crmckenzie I've done a workaround for those testing cases  USING NEXTSTRING:
![image](https://user-images.githubusercontent.com/73877504/118262727-9a8dda00-b4b5-11eb-8f77-6f201c903495.png)

        [TestMethod]
        public void RandomGenerator_WithShortPhrase_NeverReturnsEmptyStringNextString()
        {
            RandomGenerator randomGenerator = new RandomGenerator();

[2021-07-07 10:24] janis-veinbergs commented on #123
Bugs me too.
There is non-static Builder, which should be preferred, if possible:
[code]
Introduced with #16
https://github.com/nbuilder/nbuilder/commit/3ab7f079d89baab40dd93f14c6eed653e88aa26b#diff-2fe65103e9861debac058064408414057e8b924789ba78a5766ee2bae23ee10eR11

[2021-08-18 15:36] christo-djambov-axway opened #125 "Licensing information missmatch"
Hi there
the licensing info on nuget.org points to LGPL, but here on github is MIT. Can you please specify which one is correct or I am missing something ?

[2022-03-07 15:53] rsr-maersk opened #126 "Init-only property or indexer 'Foo' can only be assigned in an object initializer, or on 'this' or 'base' in an instance constructor or an 'init' accessor."
Hi

When

[code]

and

[code]

get error Init-only property or indexer 'Foo' can only be assigned in an object initializer, or on 'this' or 'base' in an instance constructor or an 'init' accessor.

Any recommendations to get the C#10 init to work with builder?

[2022-11-01 16:27] xakpc commented on #125
I see that this issue is fixed in develop branch. Will it ever be merged and/or deployed as alpha @crmckenzie ?

[2022-11-02 06:07] PureKrome opened #127 "🚀 Release 6.2 discussion"
This is a discussion about the release of version 6.2, which I'm _guessing_ is the next release.

## Checklist

- [ ] Confirm list of items/issues to include in the vNext release
- [ ] Confirm that the next release version is actually `6.2` (based on the most recent value in the `appveyor.yml` file in the `develop` branch)
- [ ] Create a PR to merge `develop` into `master`
- [ ] Release and confir

[2022-11-02 06:08] PureKrome commented on #125
@xakpc REF: #127

[2022-11-02 20:35] crmckenzie commented on #127
I still have fantasies that I'll be able to get back to it and get it updated, but the reality is it needs a new maintainer.

[2022-11-02 22:53] Doug-Murphy commented on #127
I nominate @PureKrome for maintainer.

[2022-11-03 00:54] PureKrome commented on #127
I don't really use this library any more, either. 😊 It's easy for me to quickly jot down an issue here and there (like this) to help get some momentum, though :)

[2022-11-10 08:04] #27 closed

[2022-11-30 14:19] wiciok opened #128 "ListBuilder's TheRest() does not work combined with Random()"
Hello,
`TheRest()` method in `ListBuilderExtensions` doesn't seem to make any effect on generated data, when it is used after `Random()`. It doesn't throw any exception either, which results in incorrect data being generated.

Repro:

[code]

If it was never intended for `TheRest()` to work with `Random()`, in my opinion it should at least throw exception in such case.

NBuilder version 6.1.0